<div class="workshop-plans-pre-sale"> 
	<p>
		A nossa equipe esta finalizando esta funcionalidade e muito em breve estará disponível. Se você tem interesse em ser avisado, e até mesmo ser
		um dos primeiros a ter acesso, clique no botão abaixo que avisaremos você!
	</p>
	<%= link_to "Quero conhecer o Gerenciamento de Workshop", 
			user_workshop_wait_path(0), remote:true,
			class:'btn btn-success btn-bigger' %>
</div>