<div class="workshop-plans-pre-sale"> 
	<p>
		Esta funcionalidade em breve estará disponível. Se você tem interesse em ser um dos primeiros a gerenciar seus Workshops com o Pic2Gether ou queira saber mais sobre o produto, clique no botão abaixo que avisaremos você! Obs.: No período de lançamento, estaremos disponibilizando Planos totalmente gratuítos para os primeiros interessados.
	</p>
	<%= link_to "Quero conhecer o Gerenciamento de Workshop", 
			user_workshop_wait_path(0), remote:true,
			class:'btn btn-success btn-bigger' %>
</div>