<div id="workshop-plans-container">
	<%= content_tag :label,t('.title'), class:'modal-title',id:'modal-title-workshop-plan' %>
	<% if current_user.can_test_workshop? %>
		<%= render 'plans' %>
	<% else %>
		<%= render 'pre_sales' %>
	<% end %>
</div>