<div class="award-basket-bg"></div>
<div class="textbox">
	<h1>1 - Características Gerais</h1>
	<p>
		1.1 - As participações nos sorteios publicados neste site são totalmente gratuitas, não sendo cobrado nenhum valor ou taxa para inscrições.
	</p>
	<p>
		1.2 - Válido para participantes que residem em território nacional (Brasil).
	</p>
</div>
<div class="textbox">
	<h1>2 - Regras</h1>
	<p>
		2.1 - Somente poderão participar do sorteio pessoas físicas, maiores de 14 anos. 
	</p>
	<p>
		2.2 - Torne-se usuário da Pic2Gether se cadastrando no nosso site; 
	</p>
	<p>
		2.3 - Poste uma fotografia no www.pic2gether.com, durante o período estipulado, na categoria NewBorn.
	</p>	
	<p>
		2.4 - Compartilhe em uma das rede sociais (Facebook, Twitter ou GooglePlus) cada foto publicada no site.
	</p>
	<p>
		2.5 - Quanto mais fotografias postar, mais chances de ganhar.
	</p>	
	<p>
		2.6 - Para que a fotografia participe da promoção, a mesma não poderá ser removida do site.
	</p>	
	<p>
		2.7 - As fotografias postadas deverão ser de sua autoria, não ferindo as políticas de direitos autorais descritas em nosso <%= link_to "Termo e condições de uso.", termsconditions_home_welcome_index_path,target:'_blank' %>
	</p>
	<p>
		2.8 - Não serão permitidos postagens de conteúdo pornográfico, conforme defino no
		<%= link_to "Termo e condições de uso.", termsconditions_home_welcome_index_path,target:'_blank' %>.
		Caso isto ocorra, o Pic2Gether terá todo direito de remover e notificar o autor.
	</p>		
</div>
<div class="textbox">
	<h1>3 - Premiação</h1>
	<p>
		3.1 - Sortearemos 1(um) cesto para ser utilizados em ensaios 'New-Borns', conforme imagem abaixo (fotografia real do brinde).
	</p>
</div>
<div class="textbox">
	<h1>4 - Validade</h1>
	<p>
		4.1 - Período da promoção: 05/09/2016 à 19/09/2016.
	</p>
</div>
<div class="textbox">
	<h1>5 - Sorteio</h1>
	<p>
		5.1 - O sorteio será realizado no dia 21/09/2016.
	</p>
	<p>
		5.2 - O autor da fotografia sorteada levará o prêmio.
	</p>
	<p>
		5.3 - Como este é um sorteio para presentear os usuários e não um concurso, não será levado em consideração qualquer padrão técnico. Será puramente sorte!
	</p>		
	<p>
		5.4 - O ganhador será divulgado através de redes sociais.
	</p>
</div>

<div class="textbox">
	<h1>6 - Ganhador</h1>
	<p>
		6.1 - O ganhador será contactado através de notificações dentro do Pic2Gether e através de email de cadastro, para receber informações sobre como resgatar o prêmio. O ganhador terá um prazo de 7 dias, a contar pela data de envio das notificações, para se manifestar e receber o brinde em casa.
	</p>
	<p>
		6.2 - Caso não consigamos contato com o Ganhador, dentro do prazo estipulado, um novo sorteio será realizado.
	</p>
</div>

<div class="textbox">
	<h1>7 - Fotos reais do Cesto</h1>
	<div class="award-real-basket-photos"></div>
</div>
<br>
<%= link_to "Quero me cadastrar e Participar do Sorteio",new_user_registration_path,
						class:'btn btn-success btn-bigger' %>
<%= link_to "Já sou cadastrado! Quero fazer login e Participar do Sorteio",new_user_session_path ,
						class:'btn btn-success btn-bigger' %>

<br><br>
<br>
<br>