<div class="award-bg"></div>
<div class="textbox">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum tellus in velit maximus, quis interdum magna dignissim. Nulla facilisi. Fusce ultricies, est nec lobortis blandit, dui eros blandit quam, eget porttitor nulla nulla sed leo. Vivamus vitae risus in quam vehicula sollicitudin ac fermentum nulla. In sed congue felis.
	</p>
</div>
<div class="textbox">
	<div class="col1">
		<h1>Prêmio</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum tellus in velit maximus, quis interdum magna dignissim. Nulla facilisi. Fusce ultricies, est nec lobortis blandit, dui eros blandit quam, eget porttitor nulla nulla sed leo. Vivamus vitae risus in quam vehicula sollicitudin ac fermentum nulla. In sed congue felis.
		</p>
	</div>
	<div class="col2">
		<h1>Regras</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum tellus in velit maximus, quis interdum magna dignissim. Nulla facilisi. Fusce ultricies, est nec lobortis blandit, dui eros blandit quam, eget porttitor nulla nulla sed leo. Vivamus vitae risus in quam vehicula sollicitudin ac fermentum nulla. In sed congue felis.
		</p>
	</div>	
</div>
<br><br>
<div class="textbox">
	<div class="col1">
		<h1>Período</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum tellus in velit maximus, quis interdum magna dignissim. Nulla facilisi. Fusce ultricies, est nec lobortis blandit, dui eros blandit quam, eget porttitor nulla nulla sed leo. Vivamus vitae risus in quam vehicula sollicitudin ac fermentum nulla. In sed congue felis.
		</p>
	</div>
	<div class="col2">
		<h1>Sorteio</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum tellus in velit maximus, quis interdum magna dignissim. Nulla facilisi. Fusce ultricies, est nec lobortis blandit, dui eros blandit quam, eget porttitor nulla nulla sed leo. Vivamus vitae risus in quam vehicula sollicitudin ac fermentum nulla. In sed congue felis.
		</p>
	</div>	
</div>
<div class="textbox">
	<div class="col1">
		<h1>Ganhador</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum tellus in velit maximus, quis interdum magna dignissim. Nulla facilisi. Fusce ultricies, est nec lobortis blandit, dui eros blandit quam, eget porttitor nulla nulla sed leo. Vivamus vitae risus in quam vehicula sollicitudin ac fermentum nulla. In sed congue felis.
		</p>
	</div>
</div>