body.awards-page {
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0; 
	top: 0;
	bottom: 0;
	.welcome-header {
		background-color: #000;
	}
}


.awards-page {
	overflow: auto;
	margin-bottom: 5px;
	.btn {
		float: left;
		margin: 60px 10px 0 0; 


	}
	.awards-info {
	  background-color: #FFF;
	  border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  -webkit-border-radius: 10px;  
	  

	  float: left;
	  left: 50%;
	  height: auto;
	  padding: 5px;
	  position: relative;
	  margin: 90px 0 0 -490px;
	  width: 960px;
	  z-index: 999;
	}
	.awards-info .award-bg {
		background-image: url(asset-path("home/awards/eduk_courses.png"));
		background-position: 0 -50px;
	  border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  -webkit-border-radius: 10px;  		
		-webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 1px 6px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 1px 6px 0px rgba(50, 50, 50, 0.75);
		height: 350px;
		width: 960px;
		.btn {
			float: right;
			margin: 327px 20px 0 0;
		}
	}

	.awards-info .award-bg {
		background-image: url(asset-path("home/awards/eduk_courses.png"));
		background-position: 0 -50px;
	  border-radius: 10px; 
	  -moz-border-radius: 10px; 
	  -webkit-border-radius: 10px;  		
		-webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 1px 6px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 1px 6px 0px rgba(50, 50, 50, 0.75);
		height: 350px;
		width: 960px;
		.btn {
			float: right;
			margin: 327px 20px 0 0;
		}
	}
	.awards-info .textbox {
		float: left;
		width: 100%;
		margin-top: 40px;
		h1 {
			
			font-size: 20px;
			margin-bottom: 20px;
		}
		p {
			color: #777;
			font-size: 18px;
			line-height: 24px;
			margin-top: 10px;
			text-align: justify;
			a {
				color: #65ABD4;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				};
			}
		}
		.col1,.col2 {
			width: 45%;
			float: left;
		}
		.col2 {
			float: right;
		}
	}
}

