html, body {
  overflow: hidden;
/*  overflow-y: auto; */
}

.centralizer {
  height: auto;
  width: 960px;
  margin: 0 auto;
}

.user-avatar-cover {
  background-position: center center;
  background-size: cover;
  border: 2px solid #FFF;
  border-radius: 50%; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;     
  float: left;
  height: 40px;
  margin: 4px 0 0 0px;
  width: 40px;
}

.welcome-header {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  transition: all 0.4s linear 0s;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.welcome-header.dark {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}

.welcome-header .logo-container {
  color: #fff;
  font-size: 29px;
  font-weight: normal;
  position: absolute;
  margin: 7px 0 0 20px;
  .pic2gether-logo {
    height: 50px;
    width: 150px;
    background-image: url(asset-path("shared/logo_black.png"));
    transition:All 0.6s ease;
  }
}

.welcome-header .login-form {
  float: right;
  margin: 17px 10px 0 0;
  input {
    background: transparent;
    height: 25px;
    border: 1px solid #fff;
    color: #fff;;
    padding: 4px 20px 4px 20px;
    &.username {
    border-radius: 5px 0px 0px 5px; 
    -moz-border-radius: 5px 0px 0px 5px; 
    -webkit-border-radius: 5px 0px 0px 5px; 
      width: 120px;
      margin-right: -5px;
    }
    &.password {
      width: 50px;
    }
  }
  .remember-me {
    height: 20px;
    margin-top: 2px;
    label, input {
      float: left;
    }
    input {
      margin: -7px 0 0 -1px;
    }
    label {
      color: #fff;
      font-size: 12px;
      margin-top: 0px;
    }
  }
}

ul.about-container {
  bottom: 5px;
  height: 30px;
  position: fixed;
  left: 20px;
  li {
    float: left;
    padding: 0 3px 0 3px;
    &:after {
      color: #eee;
      content: ".";
      margin: -5px 0 0 5px;
    };
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      };
    }
  }
  li:last-child {
    &:after {
      color: #eee;
      content: "";
    }    
  }
}

ul.menu {
  height: 70%;
  margin: 0 auto;
  width: 590px;
  li {
    float: left;
    height: 100%;
    width: auto;
    padding: 0 15px 0 15px;
    a {
      color: #a7a7a7;
      display: block;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      line-height: 70px;
      &.login {
        font-weight: bold;
      }
      &:hover {
        color: #fff;
      };
      &.selected, &:hover {
        color: #FFF;
      }
    }
    &.logo-space {
      width: 204px;
    }
    &.last {
      border:0;
    } 
  }
}

.account-buttons {
  float: right;
  margin: 20px 20px 0 0;
  a {
    border: 1px solid #fff;
    border-radius: 5px; 
    color: #fff;
    font-size: 14px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;     
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    line-height: 30px;
    &.sign-up {
      background-color: #FFF;
      color: #008CBF;
      span {
        font-weight: bold;
      }
    }
  }
}

.welcome-cover,.welcome-cover-mask {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:0px 3px 4px #DBDBDB;
  /*border: 1px solid red;*/
  height: 805px;
  position: fixed;
  bottom:0;
  opacity: 1;
  transition: opacity 0.5s linear 0s;
  top: 0;
  width: 100%;
  /*z-index: -200; */
}

.welcome-cover {
  z-index:0 
}

.welcome-cover-mask {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1; 
}

.welcome-content {
  float: left;
  height: 320px;
  margin-top: 256px;
  position: fixed;
  width: 960px;
  h1,h2 {
    color: #FFF;
    text-align: center;
    width: 100%;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
    transition:All 0.6s ease;
  }
  h1 {
    font-size: 62px;

  }
  h2 {
    font-size: 25px;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  a.sign_up_email {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    margin: 120px 0 0 0;
    text-align: center;
    text-shadow: 2px 2px 1px #000;
    width: 100%;
  }
}

a.sign-up-button {
  border: 1px solid #777;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  color: #FFF;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  height: 35px;
  margin: 40px 10px 0 auto;
  padding: 2px;
  position: absolute;
  text-decoration: none;
  transition:All 0.6s ease;
  width: 190px;
  &.facebook {
    background-color: #4E70B5;
    border: 1px solid #4453B5;
    margin-left: 170px;
    &:hover {
      background-color: #325293;
      border: 1px solid #4E70B5;
    };
  }
  &.twitter {
    background-color: #28C2FA; 
    border: 1px solid #29AFFA;
    margin-left: 380px;
    &:hover {
      background-color: #1595C4;
    };
  }
  &.google_oauth2 {
    background-color: #dd4b39; 
    border: 1px solid #dd4b39;
    margin-left: 590px;
    &:hover {
      background-color: #C23321;
    };
  }
}


.how_work, 
.made-for-who, 
.professionals, 
.sign-up-container, 
.contact-us {
  background-color: red;
  float: left;
  height: 600px;
  width: 100%;
  padding-top: 140px;
  position: relative;
  z-index:  999;
  visibility: hidden;
}

.how_work {
  background-color: #2D2F37;
  .bg {
    background-image: url(asset-path("home/camera1.jpg"));
/*    position: absolute;*/
    width: 100%;
    height: 100%;
    opacity: 0.1;
    top: 0px;
    position: absolute;
    z-index: 1
  }  
  h1.title {
    font-size: 38px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    margin-top: -40px;
    width: 100%;
  }
  h4.sub-title {
    font-size: 20px;
    color: #CCCCCC;
    text-align: center;
    margin-top: 10px;
    width: 70%; 
    margin-left: 15%;
  }
  ul.how-work-steps {
    float: left;
    width: 100%;
    float: left;
    margin-top: 140px;
    .horizontal-line {
      background-color: #fff;
      height: 2px;
      width: 100%;
      float: left;
      margin-top: 95px;
    }    
    li {
      float: left;
      margin-top: -60px; 
      .vertical-line {
        display: none;
        background-color: #fff;
        float: left;
        height: 180px;
        margin: -140px 0 0 125px;
        width: 2px;
      }      

      .step {
        background-color: #2D2F37;
        /*border: 2px solid #008CBF;*/
        border: 1px solid #212121;
        border-radius: 10px;
        cursor: pointer;
        float: left;
        height: 280px; 
        margin: 0 0 35px 5px;
        position: relative;
        width: 220px;
        z-index: 99999999;
        transition:All 0.6s ease;
        -webkit-transition:All 0.6s ease;
        -moz-transition:All 0.6s ease;
        -o-transition:All 0.6s ease;
        transform: rotate(0deg) scale(1.0)  translate(10px);
        -webkit-transform: rotate(0deg) scale(1.0)  translate(10px);
        -moz-transform: rotate(0deg) scale(1.0)  translate(10px);
        -o-transform: rotate(0deg) scale(1.0)  translate(10px);
        -ms-transform: rotate(0deg) scale(1.0)  translate(10px);
        &:hover, &.hover {
          border-color: #008CBF;
          transform: rotate(0deg) scale(1.2)  translate(0px);
          -webkit-transform: rotate(0deg) scale(1.2)  translate(0px);
          -moz-transform: rotate(0deg) scale(1.2)  translate(0px);
          -o-transform: rotate(0deg) scale(1.2)  translate(0px);
          -ms-transform: rotate(0deg) scale(1.2)  translate(0px);
          box-shadow: 1px 1px 2px #008CBF;
          z-index: 999999999;
          h4 {
            font-size: 12px;
            margin-top: 20px;
            line-height: 15px; 
          }
         /* p.step-tip {
            visibility: visible;
            font-size: 12px;
            line-height: 14px;
            margin-left: 3%;
            width: 94%;
          }*/
        }
        h4 {
          /*color: #FFF;*/
          color: #008cbf;
          border-bottom: 1px solid #212121;
          font-size: 16px;
          height: 40px;
          line-height: 22px;
          text-align: center;
          margin: 10px 0 0 0px;
          width: 100%;
        }
        p.step-tip {
          color: #fff;
          font-size: 16px;
          line-height: 24px;
          margin: 20px 5px 0 5px;
          text-align: center;
          width: 210px;
        }
      }
    }
  }
}

.made-for-who {
  background-color: #2D2D2D;
  .bg {
    /*background: url(asset-path("home/camera.jpg"));*/
    background-image: url(asset-path("home/photographer.jpg"));
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    margin-top: -150px;
    z-index: 1
  }  
  h1.title {
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: -50px;
    width: 100%;
  }
  h4.sub-title {
    font-size: 20px;
    color:  #777;
    text-align: center;
    margin-top: 10px;
    width: 80%; 
    margin-left: 10%;
  } 
  ul.who-list {
    margin-top: 80px;
    margin-left: 40px;
    width: 100%;
    li {
      float: left;
      width: 50%;
      img {
        border: 4px solid #FFF;
        height: 230px; 
        border-radius: 50%;
        margin: 3px 0 0 80px;
        opacity: 0.50;
        width: 230px;
        transition: all 0.8s linear 0s;
        &:hover {
          opacity:1;
          border: 4px solid #0D7BBF;
        };
      }
      .text {
        color: #e6e6e6;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        left: 10%;
        width: 80% ;
      }
    }
  } 
}

.professionals {
  background-color: #eee;
  h1.title {
    font-size: 38px;
    color: #303030;
    text-align: center;
    text-transform: uppercase;
    margin-top: -40px;
    width: 100%;
  }
  h4.sub-title {
    font-size: 20px;
    color:  #777;
    text-align: center;
    margin-top: 10px;
    width: 70%; 
    margin-left: 15%;
  }  
  .people {
    float: left;
    margin-top: 60px;
    width: 450px;
    transition:All 0.3s ease;
    -webkit-transition:All 0.3s ease;
    -moz-transition:All 0.3s ease;
    -o-transition:All 0.3s ease;
    transform: translate(-2000px);
    -webkit-transform: translate(-2000px);
    -moz-transform: translate(-2000px);
    -o-transform: translate(-2000px);
    -ms-transform: translate(-2000px);
    &.showed {
      transform: translate(0px);
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -o-transform: translate(0px);
      -ms-transform: translate(0px);
    }
    img {
      border-radius: 50%;
      float: left;
      height: 200px;
      width: 200px;
      &.person1, &.person3 {
        margin-right: 20px;  
      }
      &.person3, &.person4 {
        margin-top: 10px;  
      }
      &.person5 {
        margin: -320px 0 0 130px;
        position: relative;
        z-index: 0;
      }
      &.person1, &.person2, &.person3, &.person4, &.person5 {
        z-index: 1;
        position: relative;
        transition:All 0.2s ease;
        -webkit-transition:All 0.2s ease;
        -moz-transition:All 0.2s ease;
        -o-transition:All 0.2s ease;
        transform: rotate(10deg) scale(0.90) skew(1deg) translate(10px);
        -webkit-transform: rotate(10deg) scale(0.90) skew(1deg) translate(10px);
        -moz-transform: rotate(10deg) scale(0.90) skew(1deg) translate(10px);
        -o-transform: rotate(10deg) scale(0.90) skew(1deg) translate(10px);
        -ms-transform: rotate(10deg) scale(0.90) skew(1deg) translate(10px);
        &:hover {
          z-index: 2;
          transform: rotate(-20deg) scale(1.4) skew(1deg) translate(0px);
          -webkit-transform: rotate(-20deg) scale(1.4) skew(1deg) translate(0px);
          -moz-transform: rotate(-20deg) scale(1.4) skew(1deg) translate(0px);
          -o-transform: rotate(-20deg) scale(1.4) skew(1deg) translate(0px);
          -ms-transform: rotate(-20deg) scale(1.4) skew(1deg) translate(0px);
        }        
      }
    }
  }
  ul.text-box {
    float: right;
    margin-top: 80px;
    width: 460px;
    transition:All 0.3s ease;
    -webkit-transition:All 0.3s ease;
    -moz-transition:All 0.3s ease;
    -o-transition:All 0.3s ease;
    transform: translate(3000px);
    -webkit-transform: translate(3000px);
    -moz-transform: translate(3000px);
    -o-transform: translate(3000px);
    -ms-transform: translate(3000px);
    &.showed-text-box {
      transform: translate(0px);
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -o-transform: translate(0px);
      -ms-transform: translate(0px);
    }    
    li {
      border-bottom: 1px solid #1F8CBF;
      margin: 0 0 20px 0;
      padding-bottom: 20px;
      width: 100%;
      h4 {
        color: #1F8CBF;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      p {
        color: #666;
        font-size: 14px;
        line-height: 25px;
        text-align: justify;
      }
    }
  }
}

.jurors {
  background-color: #d5f8ed;
  .texts-container {
    float: left;
    width: 500px;
    h1 {
      color: #333337;
      font-size: 30px;
      font-weight: bold;
    }
    p {
      color: #333337;
      font-size: 22px;
      line-height: 28px;
      margin-top: 35px;
      text-align: justify;

    }
  }  
  .jurors-avatar {
    border: 1px solid #eee;
    float: right;
    height: 500px;
    width: 440px;
    .circle {
      background-color: #FFF;
      border: 1px solid #E8E5E5;
      border-radius: 50%;
      box-shadow: 1px 1px 2px #A19AA0;
      float: left;
      height: 120px; 
      margin: 0 0 25px 22px;
      width: 120px;
      &:hover span.jurors-name {visibility: visible;};
      img {
        border-radius: 50%;
        width: 110px;
        height: 110px; 
        margin: 6px 0 0 8px;
      }
      span.jurors-name {
        background-color: #000;
        border-radius: 10px; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px; 
        color: #fff;
        visibility: hidden;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        width: 118px;
        margin: 60px 0 0 0px;
        position: absolute;
        text-align: center;
        opacity: 0.7;
      }

    }
  }

}

.sign-up-container {
  background-color: #2D2D2D;
  .bg {
    /*background: url(asset-path("home/camera.jpg"));*/
    background-image: url(asset-path("home/equipament.jpg"));
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    margin-top: -150px;
    z-index: 1
  }  
  h1.title {
    font-size: 38px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    margin-top: -40px;
    width: 100%;
  }
}

.button-link {
  background-color: #09C144;
  border: 1px solid #00A144;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  color: #FFF;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  height: 40px;
  margin: 40px 10px 0 0;
  padding: 5px;
  position: absolute;
  text-decoration: none;
  width: 250px;
}

.form-box {
  background-color: #FFF;
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;    
  float: left;
  left: 50%;
  height: auto;
  padding: 10px;
  position: relative;
  margin: 20px 0 0 -200px;
  width: 390px;
  z-index: 999;

  transition:All 0.3s ease;
  -webkit-transition:All 0.3s ease;
  -moz-transition:All 0.3s ease;
  -o-transition:All 0.3s ease;
  transform: translate(-2000px);
  -webkit-transform: translate(-2000px);
  -moz-transform: translate(-2000px);
  -o-transform: translate(-2000px);
  -ms-transform: translate(-2000px);
  &.showed {
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -o-transform: translate(0px);
    -ms-transform: translate(0px);
  } 
  .sign-up-form, .contact-us-form {
    float: left;
    margin: 20px 0 0 10px;
    width: 355px;
    .field {
      float: left;
      margin-bottom: 12px;
      width: 100%;
      input,textarea {
        border: 1px solid #D8D8D8;
        border-radius: 5px; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px;          
        height: 35px;
        width: 100%;
        padding-left: 12px;
        &:focus {
          box-shadow:0px 1px 4px #C6E9F4;
        };
      }
      textarea {
        height: 150px;
        resize: none;
      }
    }
  }
  &.contact-us-box {
    width: 600px;
    margin: 20px 0 0 -300px;
    .contact-us-form {
      width:560px;
    }
  }      
  .social-network-buttons {
    border-top: 1px solid #e7e7e7;
    float: left;
    height: 80px;
    margin: 30px 0 0 12px;
    padding-top: 30px;
    width: 360px;
    a.sign-up-button {
      float: left;
      height: 30px;
      line-height: 30px;
      margin-bottom: 0;
      margin-left: 0;
      margin-top: 5px;
      position: relative;
      width: 155px;
      z-index: 999;
    }
  }    
}

label.social-network-account-label {
  color: #727171;
  font-size: 14px;
  width: 100%;
  float: left;
}
    
.contact-us {
  background-color: #2D2D2D;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    margin-top: -150px;
    z-index: 1
  }  
  h1.title {
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: -50px;
    width: 100%;
  }
  h4.sub-title {
    font-size: 20px;
    color:  #777;
    text-align: center;
    margin-top: 10px;
    width: 80%; 
    margin-left: 10%;
  } 
}

