@media screen and (max-width: 481px), 
  screen and (max-width: 767px),
  screen and (min-width: 768px) and (max-width: 979px)  {

  html, body {
    overflow: hidden;
    min-width: 0;
  }
  .welcome-header .logo-container {
    .pic2gether-logo {
      background-image: url(asset-path("shared/logo_small.png"));
      height: 60px;
      margin: 0 0 0 -20px;
      width: 60px;
    }
  }
  .menu {
    display: none;
  }
  .welcome-content {
    max-width: 500px;
    width: 100%;
    h1 {
      float: left;
      margin-top: 10px;
    }
    h2 {
      display: none;
    }
    a.sign-up-button.facebook,a.sign-up-button.twitter,a.sign-up-button.google_oauth2 {
      left: 50%;
      height: 30px;
      line-height: 30px;
      margin: 70px 0 0 -70px;
      width: 140px;
    }
    a.sign-up-button.twitter {
      margin-top: 96px;
    }

    a.sign-up-button.google_oauth2 {
      margin-top: 142px;
    }
    a.sign_up_email {
      font-size: 12px;
      left: 0;
      margin-top: 120px;
    }
  }
  .centralizer {
    max-width: 500px;
  }
  .coverby-container {
    margin: 79px 0 0 3px;
  }
  ul.about-container {
    bottom: 0px;
    left: 10px;
  }
}


/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
  .menu {
    display: inline;
  }
  .welcome-header {
    .centralizer {
      margin-left: 77px;
    }
    .account-buttons {
      margin: 20px 6px 0 0;
    }
  }
  .welcome-content {
    h1 {
      font-size: 45px;
      margin-top: -20px;
    }
    a.sign-up-button.facebook,a.sign-up-button.twitter,a.sign-up-button.google_oauth2 {
      margin: 45px 0 0 -220px;
    }
    a.sign-up-button.twitter {
      margin-left: -65px;
    }
    a.sign-up-button.google_oauth2 {
      margin-left: 90px; 
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px),
       screen and  (max-width: 480px) { 
  .welcome-header {
    height: 45px;
    .account-buttons {
      margin: 8px 4px 0 0;
      a.sign-up {
        display: none;
      }
    }
    .logo-container {
      .pic2gether-logo {
        background-image: url(asset-path("shared/logo_tiny.png"));
        height: 48px;
        margin: -7px 0 0 -20px;
        width: 48px;
      }
    }
  }
}

/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .welcome-content {
    h1 {
      font-size: 45px;
      margin-top: -20px;
    }
    a.sign-up-button.facebook,a.sign-up-button.twitter,a.sign-up-button.google_oauth2 {
      margin: 45px 0 0 -220px;
    }
    a.sign-up-button.twitter {
      margin-left: -65px;
    }
    a.sign-up-button.google_oauth2 {
      margin-left: 90px; 
    }
  }
}
 
/* Landscape phones and down */
@media screen and  (max-width: 480px) {
  .welcome-header {
    height: 45px;
    .account-buttons {
      margin: 8px 4px 0 0;
      a.sign-up {
        display: none;
      }
    }
  }
  .welcome-content {
    h1 {
      font-size: 27px;
    }
    a.sign-up-button.facebook {
      margin-top: 56px;
    }

    a.sign-up-button.twitter {
      margin-top: 96px;
    }

    a.sign-up-button.google_oauth2 {
      margin-top: 136px;
    }
    a.sign_up_email {
      font-size: 12px;
      left: 0;
      margin-top: 190px;
    }    
  }
}

@media screen and (min-width: 200) and (max-width: 250) {
  .welcome-header {
    display: none;
  }
}