<% if @gallary_type == "flow" %>
	<div class="grid-flow" style="width:90%;margin-left:5%">
		<%= build_gallary :photos_explore %>
	</div>
<% elsif @gallary_type == "flow_grid" %>
	<%= gallary_grid :photos_explore, true %>
<% elsif @gallary_type == "list" %>
	<%= gallary_list :photos_explore %>
<% else %>
	<%= gallary_grid :photos_explore %>
<% end %>
