<%= render "menu" %>
<div id="photo-list">
	<%= photo_gallery :photos_explore %>
</div

>
<% content_for :categories do %>
	<ul class="categories-list">
		<li>
			<%= link_to "Todas Categorias", 
									user_photo_explore_path, 
									remote:true, class:'category-item selected'  %>
		</li>
		<%- @categories.each do |category| %>		
			<li>
				<%= link_to category.description, 
										user_photo_explore_path(category_id:category.id),
										remote:true, class:'category-item'  %>
			</li>
		<% end %>
	</ul>
<% end %>