<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Contato Pic2Gether
    <br>
    <br>
    <br>
    Nome: <%= @name %><br>
    Email: <%= @email %><br>
    Mensagem: <%= @message %><br>

    <p><strong>com:</strong> <%= Time.now %></p>
  </body>
</html>