<%= render partial:"menu_workshop", locals: {current_menu:@type} %>
<%= content_for :toolbar_buttons do %>
  <%= link_to t('.add_new'),
              user_workshop_plans_path,
              id: (current_user.can_test_workshop? ? 'workshop-plans-link2' : 'workshop-plans-link'), 
              class:"btn btn-success btn-small btn-right" %>
<% end %>
<div id="workshop-list">
	<%= render 'workshops' %>
</div>