<%= render partial:"menu_workshop", locals: {current_menu:@type} %>
<%= content_for :toolbar_buttons do %>
  <%= link_to t('.add_new'),
              new_user_workshop_path, 
              class:"btn btn-success btn-small btn-right" %>
<% end %>
<div id="workshop-list">
	<%= render 'workshops' %>
</div>