<div id="activity-responses" class="activity-responses-show">
	<%= render partial:'user/workshop_activities/evaluation/responses',
						 locals: {activity_response:@workshop_activity_response} %>
</div>