<div class="portfolio-about">
	<div class="portfolio-content">
		<%= image_tag(@photographer.profile.avatar.url(:medium),class:"user-avatar") %>
		<div class="biography">
			<h1><%= "Biografia" %></h1>
			<p>
				<%= @photographer.profile.description %>
			</p>
		</div>
		<div class="contact-container">
			<%= render "shared/portfolio_templates/contacts_link" %>
		</div>
	</div>
</div>