<ul class="portfolio-menu">
	<li>
		<%# link_to "Portfolio", 
				public_portfolio_index_path(user_id:@photographer.id),
					class:"portfolio-menu-item active", remote:true %> 
	</li>
	<span class="separator"></span>
	<li>
		<%= link_to "Sobre", 
					public_portfolio_about_path(@photographer.id),
					class:"portfolio-menu-item", remote:true %>
	</li>
</ul>