.icon16,
.icon20 {
	background: url(asset-path("user/menu_sprite.png"));
}

.icon16pb,
.icon20pb {
	background: url(asset-path("user/menu_sprite_pb.png"));
	float: left;
}

.icon20, .icon20pb {
	height: 24px;
	width: 24px;
	&.upload {
		background-position: -127px -1px;
	}
	&.home {
		background-position: -4px -2px;
	}
	&.explore {
		background-position: -65px -2px;
	}
	&.me {
		background-position: -98px -2px;	
	}
	&.photographers {
		background-position: -38px -2px;
	}
	&.icon-grid-list {
		background-position: -229px -1px;	
	}
	&.icon-grid-flow {
		background-position: -197px -1px;
	}
	&.icon-grid-table {
		background-position: -165px -1px;
	}
	&.notification {
		background-position: -255px -1px;
	}
	&.back {
		background-position: -195px -34px;;
	}
	&.add-user {
		background-position: -225px -34px;;
	}
}

.icon16, .icon16pb {
	height: 17px;
	width: 17px;
	&.share {
		background-position: -294px -6px
	}
	&.facebook {
		background-position: -328px -8px;	
	}
	&.twitter {
		background-position: -359px -8px;
	}
	&.no-icon {
		background-image: none;
	}
	&.info {
		background-position: -8px -39px
	}
	&.destroy {
		background-position: -70px -39px;
	}
	&.upload {
		background-position: -37px -39px;
		width: 20px;
	}
	&.edit {
		background-position: -102px -39px;
	}
	&.like {
		background-position: -135px -39px;
	}
	&.views {
		background-position: -166px -38px;
	}
}



.social-network-icon,
.social-network-icon-24 {
	background: url(asset-path("shared/social_network_sprite.png"));
	height: 35px;
	width: 36px;
	&.tumblr {
		background-position: -6px -5px;
	}	
	&.googleplus {
		background-position: -52px -5px;
	}
	&.facebook {
		background-position: -99px -5px;
	}
	&.flickr {
		background-position: -150px -5px;
	}
	&.twitter {
		background-position: -197px -5px;
	}			
	&.email {
		background-position: -245px -5px;
	}			
}

.social-network-icon-24 {
	background: url(asset-path("shared/social_network_sprite_24.png"));
}

/*.icon32 {
	background: url("/assets/user/icons32_sprite.png");
	height: 32px;
	width: 32px;
	&.upload-image {
		background-position: -4px -4px;
	}
}
*/