/*Commons*/
.grid-flow .row .col .img-container .img-pic,
.grid-table .img-container .img-pic,
.grid-list .img-container .img-pic {
	background-position: center center;
	background-size: cover;
	border: 1px solid #ddd;
	border-bottom: 0;
	float: left;
	height: 100%;
	width: 100%;
	a.photo-picture,
	a.profile-photo-cover {
		display: table;
		height: 100%;
		transition:All 0.6s ease;
		width: 100%;
	}
	&:hover a.profile-photo-cover {
		background-color: #FFF;
		opacity: 0.3;
	}
	p.remove-photo-label {
		background: #000;
    color: #fff;
    font-size: 25px;
    margin: 10px 0 0 5px;
    position: absolute;
	}
}

.grid-flow .row .col .img-container,
.grid-table .img-container,
.grid-list .img-container {
	height: 100%;
	margin-right: 10px;
	/*transition: all 0.4s linear 0s;*/
	ul.photo-counts {
		height: 60px;
		position: absolute;
		visibility: hidden;
		width: auto;
		li {
			float: left;
			border: 1px solid #000;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			opacity: 0.1;
			padding: 5px;
			transition:All 0.6s ease;
			margin: 5px 0 0 5px;
			h1,span {
				color: #fff;
			}
			span {
				font-size: 10px;
			}
			h1 {
				font-size: 22px;
				text-align: center;
				margin-top: 5px;
				width: 100%;
			}
		}
	}
	&:hover ul.photo-counts li {
		background-color: #000;
		opacity: 0.8;
		visibility: visible;
	};
	.destroy-photo {
		float:right;
		height: 16px;
    margin: 12px 10px -30px 0;
    opacity: 0.1;
    position: relative;
    transition:All 0.6s ease;
    visibility: hidden;
    width: 16px;
	}
	&:hover .destroy-photo {
		visibility: visible;
		opacity: 1;
	};
}

.grid-flow .row .col .img-container .img-info,
.grid-table .img-container .img-info,
.grid-list .img-container .img-info {
	border: 1px solid #ddd;
	background-color: #eee;
	float: left;
	height: 50px;
	width: 100%;
	.user-avatar {
		border: 0px solid #131519;
		height: 40px;
		margin: 4px 0 0 7px;
		opacity: 1;
		width: 40px;
		position: relative;
	}
	.details-content {
    float: left;
    margin-top: -38px;
    width: 100%;
/*		float: left;
    margin-left: 45px;
    margin-top: 5px;
    max-width: 200px;
    position: absolute;*/
		a, p, label.photo-title {
			float: left;
			font-weight: normal;
			text-decoration: none;
			width: 100%;
		}
		a  {
			color: #32a6d3;
			margin: 5px 0 0 51px;
			&:hover {text-decoration:underline;};
		}
		label.photo-title {
			color: #76777F;
			font-size: 15px;
			margin: 8px 0 0 51px;

		}
		p {
			color: #B7B7B7;
			margin: 5px 0 0 51px;
			font-size: 12px;
		}
		.photo-menu-popup {
	    float: right;
	    margin: -19px 4px 0 0;
	    position: relative;

		}
	}

}

/* Grid Flow Layout */
.grid-flow {
	width: 100%;
}

.grid-flow .row {
	float: left;
	height: 600px;
	width: 100%;
	margin-bottom: 5px;
}

.grid-flow .row .col {
	height: 100%;
	float: left;
}

.grid-flow .row .col.last-col .img-container {
	margin-right: 0;
}

.grid-flow .row .col.col20 {
	width: 20%
}

.grid-flow .row .col.col25 {
	width: 25%
}

.grid-flow .row .col.col33 {
	width: 33.33%
}

.grid-flow .row .col.col33:last-child .img-container {
	margin-right: 0;
}

.grid-flow .row .col.col40 {
	width: 40%
}

.grid-flow .row .col.col50 {
	width: 50%
}

.grid-flow .row .col.col75 {
	width: 75%
}

.grid-flow .row .col .img-container.w50 {
	float: left;
	width: 50%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.w100 {
	float: left;
	width: 100% !important;
}

.grid-flow .row .col .img-container.h100 {
	height: 100%;
}

.grid-flow .row .col .img-container.h100 .img-pic {
	height: 90%
}

.grid-flow .row .col .img-container.h30 {
	height: 24.2%;
	margin-top: 12px;
	margin-right: 14px;
	width: 48.2% ;
}

.grid-flow .row .col .img-container.h30:last-child {
	float: right;
	margin-right: 0;
}

.grid-flow .row .col .img-container.h33 {
	height: 22.9%;
	margin-bottom: 14px;
	float: left;
}

.grid-flow .row .col .img-container.h50 {
	height: 48%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.h50:last-child {
	margin-bottom: 0px;
}

.grid-flow .row .col .img-container.h50 .img-pic {
	height: 83%;
}

.grid-flow .row .col .img-container.h60 {
	height: 55%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.h70 {
	height: 65%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.top50 {
	margin-top: 50px;
}

/*Grid Table*/
.grid-table {
	.img-container {
		float: left;
		height: 300px;
    margin-bottom: 10px;
    width: 24%;
		.img-info {
			background-color: #000;
			border: 1px solid #000;
			margin-top: -50px;
			opacity: 0.1;
			/*transition:All 0.8s ease;*/
			transition:All 0.6s ease;
			visibility: hidden;
		}
		&:hover .img-info {
			background-color: #000;
			opacity: 0.8;
			visibility: visible;
		};
	}
}

/*List Table*/
.grid-list {
	align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: center;
  left: 50%;
  margin-left: -275px;
  position: absolute;
  width: 550px;
	.img-container {
		float: left;
		height: 600px;
    margin-bottom: 10px;
    width: 100%;
  	.img-pic {
  		height: 550px;
  	}
	}
}

.photo-explore-container {
	width:90%;
	margin-left:5%
}



/* Upload Form */
input.camera-field {
	background-image: url(asset-path("user/camera.png"));
	background-position: 5px 7px;
	background-repeat: no-repeat;
	background-color: white;
	border: 1px solid #ADA9A5;
	padding-left: 2px;
	text-indent: 32px;
}

#dragandrophandler {
	border:2px dotted #0B85A1;
	height: 400px;
	width:92%;
	color:#92AAB0;
	text-align:center;
	vertical-align:center;
	padding:10px 10px 10 10px;
	margin:0 0 10px 10px;
	font-size:200%;
	img {
		display: block;
		height: 100%;
		width: 100%;
	};
	.image-upload {
		background-position: center center;
    background-size: cover;
		display: block;
		height: 100%;
		width: 100%;
		label.photo-size {
	    color: #aaaaaa;
	    float: left;
	    font-size: 12px;
	    height: 30px;
	    margin-top: -10px;
	    width: 100%;
		}
	}
	button#photo_remove{
		display: none;
	}

	.remove-photo-upload{
	    display: none;
	    float: right;
	    margin-top: 0px;
      cursor: pointer;
	}
	li {
		left: 0;
		list-style: none;
		position: absolute;
		top: 160px;
		label {
			cursor: pointer;
			text-align: center;
			font-weight: normal;
			/*background-color: #32A6D3;
			border: 1px solid #1D85AA;
		  border-radius: 7px;
		  -moz-border-radius: 7px;
		  -webkit-border-radius: 7px;
			color: #FFF;
			cursor: pointer;
			font-size: 20px;
			float: left;
			height: 50px;
			line-height: 50px;
			margin-left: 40%;
			padding: 15px;
			width: 100px !important;
			&:hover {background-color:#37AED6; border-color: #32A6D3};*/

		}
		input {
			visibility: hidden;
			font-size: 10px;
		}
	}
}

.common-photo-upload {
	float: left;
	.photo-container {
		float: left;
		width: 600px;
		#dragandrophandler {
			height: 550px;
			li {
				width: 100%;
				position: relative;
			}
		}
	}
	.photo-fields-container {
		float: left;
		width: 420px;
		margin: -12px 0 0 -40px;
		.panel .panel-content {
			width: 92%;
		}
	}
}

/*Limit upload photo END*/
.end-limit-upload-photo {
	background-color: #FFF;
	border: 1px solid #ddd;
  border-radius: 5px;
  float: left;
  left: 50%;
  margin-left: -500px;
  padding: 10px;
  position: absolute;
  width: 800px;

	span.ops-face, p {
		float: left;
	}
	p {
		color: #4e5665;
		font-size: 32px;
		margin-top: 10px;
		line-height: 41px;
		span.ops-face {
			color: #747272;
			font-size: 86px;
			border-right: 1px solid #d3d0d6;
			height: 100px;
			padding: 26px 10px 0 0;
			margin-right: 20px;
		}
	}
}

.end-limit-upload-photo ul.increase-limit-way {
  float: left;
  margin: 30px 0 0 110px;
  width: 667px;
	h1 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	li {
	 	border-bottom: 1px dashed #d3d0d6;
    float: left;
    margin: 0 20px 20px 0;
    padding-bottom: 21px;
    width: 100%;
	}
	li:last-child {
		border: 0;
	};
	.submit-button {
		float: left;
    margin: -36px 0 0;
    position: relative;
    width: 140px;
	}
}


.photo-menu-popup {
	position: absolute;
	width: 180px;
	span.photo-menu-popup-arrow {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,f7f7f7+35,ededed+100 */
		background: #feffff; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #feffff 0%, #f7f7f7 35%, #ededed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;

		cursor: pointer;
		float: right;
		height: 18px;
		width: 16px;
		margin: 0px -2px 0 0;
		padding:0px 2px 1px 4px;
	}
	ul {
		background-color: #FFF;
		border: 1px solid #eee;
		box-shadow:0px 0px 4px #B5B5B5;
		float: left;
		width: 100%;
		display: none;
		transition: all 0.2s linear 0s;
		opacity: 0.1;
		position: absolute;
		margin-top: -111px;
		&.open-menu {
			display: table;
			opacity: 1
		}
		li {
			border-bottom: 1px solid #f1f1f1 !important;
			float: left;
	    height: 20px;
	    line-height: 20px;
	    margin-top: 0px !important;
	    width: 100% !important;
	    span {
	    	float: left;
	    	margin: 2px 0 0 2px;
	    }
	    a {
	    	color: #777 !important;
	    	font-size: 12px;
	    	float: left;
	    	text-decoration: none;
	    	text-indent: 3px;
	    	margin: 0 !important;
	    	width: auto !important;
	    }
	    a:hover {
	    	text-decoration: underline;
	    }
	    &:last-child {
	    	border-bottom: 0;
	    };
		}
	}
}

.photo-limit-info {
	color: #8f8f8f;
  font-size: 14px;
  font-weight: bold;
  float: left;
  margin: 15px 0 0 7px !important;
  padding: 10px 0 10px 3px !important;
  text-transform: uppercase;
  width: 100%;
	h1 {
		font-size: 16px;
	}

	ul.last-photos {
		float: left;
		width: 100%;
		li {
			float: left;
			width: 100%;
			margin: 4px 0 4px 8px;
			.img-pic {
				background-position: center center;
		    background-size: cover;
		    height: 160px;
		    width: 217px;
			}
		}
	}
}
