.portfolio-about {
	background-color: #686764;
	bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  .portfolio-content {
  	margin: 40px 0 0 -480px;
  	position: absolute;
  	width: 960px;
  	left: 50%;
	  img.user-avatar {
	  	float: left;
	    height: 200px;
	    width: 180px;
	  }
	  .biography {
	  	color: #fff;
	    float: left;
	    margin: 0;
	    width: 750px;
	  	h1 {
	  		font-size: 24px;
	  		margin: 0 0 13px 20px
	  	}
	  	p {
	  		font-size: 16px;
	  		line-height: 24px;
	  		margin: 0 0 0 20px;
	  		text-align: justify;
	  	}
	  }
	  .contact-container {
			float: right;
	    height: 40px;
	    margin-right: 25px;
	    margin-top: 15px;
	    width: auto;
			a {
				float: left;
				height: 34px;
				margin-left: 5px;
				width: 34px;
				span {
					float: left;
				}
			}
		}

	}
}


.portfolio {
	transition:All 0.6s ease;
}

/*************************************************************************
HORIZONTAL SLIDE
*************************************************************************/
.portfolio-horizontal-slide {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	.header {
		height: 70px;
		width: 100%;
		.user-avatar {
			background-position: center center;
			background-size: cover;
			border: 2px solid #F1F1F1;
			border-radius: 50%;
			float: left;
			height: 40px;
			width: 40px;
			margin: 5px 10px 0 10px;
			position: relative;
		}
		.text-box {
			float: left;
			h1 {
				color: #FFF;
				font-size: 20px;
				margin: 10px 0 0 0;
			}
			p {
				color: #FFF;
				font-size: 11px;
				margin: 2px 0 0 0;
			}			
		}
		ul.portfolio-menu {
			float: left;
			margin: 10px 0 0 60px;
			li {
				float: left;
				height: 30px;
				margin-right: 10px;
				a {
					color: #fff;
					font-size: 12px;
					float: left;
					font-weight: bold;
					height: 30px;
					line-height: 30px;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 2px;
					&:hover {
						text-decoration: underline;
						color: #686764;
					};
					&.active {
						color: #686764;
						cursor: default;
						text-decoration: none;
						pointer-events: none;
					}
				}
			}
			span.separator {
				color: #fff;
				height: 30px;
				float: left;
				width: 18px;
				margin-top: 8px;
				&:after {
					content: '/';
				};
			}
		}

	}
	.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 70px;	
  }
	.container .gallery-content {
		bottom: 0;
		float: left;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		position: absolute;
		overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
		.img-pic {
			background-position: center center;
			background-size: cover;
			
			height: 90%;
			display:inline-block;
	    *display:inline;/* For IE7*/
	    *zoom:1;/* For IE7*/
	    margin-right: 5px;
	    margin-left: 10px;
	    transition:All 0.6s ease;
			&.landscape {
				width: 800px;
			}
			&.portrait {
				width: 400px;
			}
			&:hover {
				opacity: 0.4;
			};
			h1 {
				color: #FFF;
				font-size: 20px;
				position: absolute;
				bottom: 25px;
			}
		}
	}
}

.portfolio-horizontal-slide.light {
	background-color: #FFF;
	.header {
		.user-avatar {
			border: 2px solid #F1F1F1;
			position: relative;
		}
		.text-box {
			h1 {
				color: #222;
			}
			p {
				color: #222;
			}			
		}
		ul.portfolio-menu {
			li a, span.separator {
				color: #222;
			}
			li a:hover {
				text-decoration: underline;
				color: #686764;
			};
			li a.active {
				color: #686764;
				cursor: default;
				text-decoration: none;
				pointer-events: none;
			}
		}
	}
	.container .gallery-content {
    .about {
			p.biography {
				color: #222;
			}
  	}
		.img-pic {
			&:hover {
				opacity: 0.9;
			};
			h1 {
				color: #222;
			}
		}
	}
}


/*************************************************************************
VERTICAL SLIDE
*************************************************************************/
.portfolio-vertical-slide {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	.header {
		height: 70px;
		width: 100%;
		.user-avatar {
			background-position: center center;
			background-size: cover;
			border: 2px solid #F1F1F1;
			border-radius: 50%;
			float: left;
			height: 40px;
			width: 40px;
			margin: 5px 10px 0 10px;
			position: relative;
		}
		.text-box {
			float: left;
			h1 {
				color: #FFF;
				font-size: 20px;
				margin: 10px 0 0 0;
			}
			p {
				color: #FFF;
				font-size: 11px;
				margin: 2px 0 0 0;
			}			
		}
		ul.portfolio-menu {
			float: left;
			margin: 10px 0 0 60px;
			li {
				float: left;
				height: 30px;
				margin-right: 10px;
				a {
					color: #fff;
					font-size: 12px;
					float: left;
					font-weight: bold;
					height: 30px;
					line-height: 30px;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 2px;
					&:hover {
						text-decoration: underline;
						color: #686764;
					};
					&.active {
						color: #686764;
						cursor: default;
						text-decoration: none;
						pointer-events: none;
					}
				}
			}
			span.separator {
				color: #fff;
				height: 30px;
				float: left;
				width: 18px;
				margin-top: 8px;
				&:after {
					content: '/';
				};
			}
		}
	}
	.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 70px;	
 		overflow-y: scroll;
    overflow-x: hidden;
    .about {
			height: auto;
			float: left;
			width: 290px;
			p.biography {
				color: #fff;
				font-size: 15px;
				line-height: 24px;
				width: 260px;
				white-space: normal;
				margin: 10px;
				text-align: justify;
				span {
					font-size: 18px;
					font-weight: bold;
					float: left;
					margin-bottom: 10px;
					width: 100%;
				}
			}
  	}    
  }
	.container .gallery-content {
		height: auto;
		width: 700px;
		left: 50%;
		margin-left: -350px;
		position: absolute;
		.img-pic {
			background-position: center center;
			background-size: cover;
			width: 700px;
	    margin-bottom: 20px;
	    transition:All 0.6s ease;
			&.landscape {
				height: 550px;
			}
			&.portrait {
				height: 750px;
			}
			&:hover {
				opacity: 0.4;
			};
			&:hover .img-text-box {
				visibility: visible;
				opacity: 1;
			}
			.img-text-box {
				visibility: hidden;
				opacity: 0.1;
				transition:All 0.4s ease;
				h1 {
					color: #FFF;
					float: left;
					font-size: 20px;
					position: relative;
					margin: 20px 0 0 10px;
					text-shadow: 1px 1px 1px #000;
					width: 100%;
				}
				p {
					color: #FFF;
					float: left;
					line-height: 20px;
					margin: 10px 0 0 10px;
					text-shadow: 1px 1px 1px #222;
					width: 80%;
				}
			}
		}
	}
}

.portfolio-vertical-slide.light {
	background-color: #FFF;
	.header {
		.user-avatar {
			border: 2px solid #F1F1F1;
			position: relative;
		}
		.text-box {
			h1 {
				color: #222;
			}
			p {
				color: #222;
			}			
		}
		ul.portfolio-menu {
			li a, span.separator {
				color: #222;
			}
			li a:hover {
				text-decoration: underline;
				color: #686764;
			};
			li a.active {
				color: #686764;
				cursor: default;
				text-decoration: none;
				pointer-events: none;
			}
		}
	}
	.container .about {
		p.biography {
			color: #222;
		}
	}
	.container .gallery-content {
		.img-pic {
			&:hover {
				opacity: 0.9;
			};
			h1 {
				color: #FFF;
			}
			p {
				color: #FFF;
			}
		}
	}
}

/*************************************************************************
	SIMPLE GALLERY
*************************************************************************/
.portfolio-simple-gallery {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	.header {
		height: 70px;
		width: 100%;
		.user-avatar {
			background-position: center center;
			background-size: cover;
			border: 2px solid #F1F1F1;
			border-radius: 50%;
			float: left;
			height: 40px;
			width: 40px;
			margin: 5px 10px 0 10px;
			position: relative;
		}
		.text-box {
			float: left;
			h1 {
				color: #FFF;
				font-size: 20px;
				margin: 10px 0 0 0;
			}
			p {
				color: #FFF;
				font-size: 11px;
				margin: 2px 0 0 0;
			}			
		}
		ul.portfolio-menu {
			float: left;
			margin: 10px 0 0 60px;
			li {
				float: left;
				height: 30px;
				margin-right: 10px;
				a {
					color: #fff;
					font-size: 12px;
					float: left;
					font-weight: bold;
					height: 30px;
					line-height: 30px;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 2px;
					&:hover {
						text-decoration: underline;
						color: #686764;
					};
					&.active {
						color: #686764;
						cursor: default;
						text-decoration: none;
						pointer-events: none;
					}
				}
			}
			span.separator {
				color: #fff;
				height: 30px;
				float: left;
				width: 18px;
				margin-top: 8px;
				&:after {
					content: '/';
				};
			}
		}		
		.contact-container {
			float: right;
	    height: 40px;
	    margin-right: 10px;
	    margin-top: 15px;
	    width: auto;
			a {
				float: left;
				height: 34px;
				margin-left: 5px;
				width: 34px;
				span {
					float: left;
				}
			}
		}		
	}
	.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 70px;	
 		overflow: hidden;
  }
  .container .portfolio-simple-left-col {
		float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 23%;
	  .photo-thumbs {
	    height: auto;
	    margin: 0 0 0 10px;
	    min-height: 300px;
	    width: 100%;
	  	.thumb-img {
	  		background-size: cover;
	  		background-position: center center;
	  		float: left;
	  		height: 60px;
	  		margin: 2px;
	  		transition:All 0.4s ease;
	  		width: 60px;
	  		a {
	  			display: block;
	  			height: 100%;
	  			width: 100%
	  		}
	  		&:hover {
	  			opacity: 0.6;
	  		};
	  	}
	  }
  }
	.container .photo-container {
		float: left;
		height: 100%;
		position: relative;
		width: 77%;
		.img-pic {
			background-position: center center;
			background-size: cover;
			height: 100%;
			width: 100%;
	    margin-bottom: 20px;
	    margin: auto;
	    transition:All 0.6s ease;
			&.landscape {
				width: 90%;
				height: 90%;
			}
			&.portrait {
				width: 45%;
				height: 90%;
			}		
			&:hover {
				opacity: 0.4;
			};
			.img-text-box {
				margin-left: -7px;
				position: absolute;
				top: 78%;
				h1 {
					color: #FFF;
					float: left;
					font-size: 20px;
					position: relative;
					margin: 20px 0 0 10px;
					text-shadow: 1px 1px 1px #000;
					width: 100%;
				}
				p {
					color: #FFF;
					float: left;
					line-height: 20px;
					margin: 10px 0 0 10px;
					text-shadow: 1px 1px 1px #222;
					width: 80%;
				}
			}
		}
	}
}

.portfolio-simple-gallery.light {
	background-color: #fff;
	.header {
		.text-box {
			float: left;
			h1 {
				color: #222;
			}
			p {
				color: #222;
			}			
		}
		ul.portfolio-menu {
			li a, span.separator {
				color: #222;
			}
			li a:hover {
				text-decoration: underline;
				color: #686764;
			};
			li a.active {
				color: #686764;
				cursor: default;
				text-decoration: none;
				pointer-events: none;
			}
		}
	}
 .container .about {
		p.biography {
			color: #222;
		}
	}
	.container .photo-container {
		.img-pic {
			.img-text-box {
				h1,p {
					color: #222;
					text-shadow: 1px 1px 1px #fff;
				}
			}
		}
	}
}
