<h4>
  <%= t('.activities') %>
  <%= link_to  image_tag("user/add_16.png"), 
  						new_user_workshop_activity_path(@workshop),id:'add-workshop-activities' %>
</h4>
<div class="show-fields" style="width:100%">
  <ul class="workshop-materials" id="workshop-activities-container">
  	<%= render partial: "user/workshop_activities/workshop_activity",
  						 collection: @workshop.activities, 
  						 locals:{workshop_owner:true} %>
  </ul>  
</div>

