<h4>
	<%= t('.vacancies_users') %>
  <%= link_to image_tag("user/add_16.png"), 
  						user_workshop_students_path(@workshop),
              id:'add-workshop-students' %>
</h4>
<div class="show-fields" style="width:100%">
  <ul class="workshop-students" id="workshop-students-container">
    <% @workshop.workshop_students.order("in_queue,created_at").each do |student| %>
      <%= render partial:'/user/workshop_students/student',
                 locals: {student:student, workshop_owner:true} %>
    <% end %>
  </ul>
</div>