<div class="photo-likers">
	<ul>
		<%= content_tag :h1, t('.likers') %><br>
		<%- @photo.likers.each do |l| %>
			<li>
				<%= link_to user_photographer_path(l.id) do %>
					<%= image_tag l.profile.avatar.url(:medium), class:'avatar' %>
				<% end %>
			</li>
		<% end %>
	</ul>	
</div>

