<ul class="photo-bar" id="photo-toolbar">
  <li>
    <div id="like-links"> 
      <%= render partial:'user/shared/photo_view/like_links', locals: {photo:@photo, show_label:false} %> 
    </div>
  </li>

  <li>
    <div id="favorite-links"> 
      <%= render partial:'user/shared/photo_view/favorite_links', locals: {photo:@photo, show_label:false} %> 
    </div>
  </li>

  <li>
    <%= link_to "#", onclick:"FacebookShare('#{public_photo_url(@photo)}','#{@photo.title}');" do %>
      <span class="social-network-icon-24 facebook"></span>  
    <% end %>
  </li>
  <li>
    <%= twitter_link_to_share("",t('share_messages.share_photo', url:public_photo_url(@photo))) do %>
      <span class="social-network-icon-24 twitter"></span>  
    <% end %>
  </li>
</ul>
