<%= render partial:"user/menu_profile", locals: {current_menu:'following'} %>
<% if @users.any? %>
	<%= render "photographers" %>
<% else %>
	<div class="alert alert-success no-record">
		<%= t(".no_followings", link: link_to(t('.link_label'),		user_photographers_path)).html_safe %>
	</div>
<% end %>
