<%= render partial:"user/menu_profile", locals: {current_menu:'followers'} %>
<% if @users.any? %>
	<%= render "photographers" %>
<% else %>
	<div class="alert alert-success no-record"><%= t(".no_follower") %></div>
<% end %>
