<h1 class="title">Veja como é simples</h1>
<h4 class="sub-title">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae massa at erat dictum pulvinar eget eu nulla.
</h4>
<ul class="how-work-steps">
	<div class="horizontal-line"></div>
	<li>
		<div class="vertical-line"></div>
		<div class="step" id="step1">
			<h4>VOCÊ SE CADASTRA</h4>
			<p class="step-tip">
				Cadastro simples, rápido e sem complicação. Totalmente gratuíto!!!
			</p>
		</div>
	</li>
	<li>
		<div class="vertical-line"></div>
		<div class="step">
			<h4>PUBLICA SUAS FOTOS</h4>
			<p class="step-tip">
				Faça o upload das suas fotos, monte seu portfólio e ganhe várias curtidas e comentários.
			</p>			
		</div>
	</li>
	<li>
		<div class="vertical-line"></div>
		<div class="step">
			<h4>GANHA VISIBILIDADE</h4>
			<p class="step-tip">
				Quanto mais fotos postar, mais popular e reconhecido você será.
			</p>
		</div>
	</li>	
	<li>
		<div class="vertical-line"></div>
		<div class="step">
			<h4>E MUITO MAIS</h4>
			<p class="step-tip">
				Contrate um Coach, Participe de desafios divertidos e ganhe prêmios.
			</p>			
		</div>
	</li>		
</ul>
<!-- <ul class="resume">
	<li>
		<h3>1.256</h3> 
		<h5>usuários cadastrados</h5>
	</li>
	<li>
		<h3>+1.256.651.225</h3> 
		<h5>Fotografias postadas</h5>
	</li>	
</ul> -->