<h1 class="title">
	Aos amantes da fotografia 
</h1>
<h4 class="sub-title">
	Um ambiente que lhe dará destaque, networking e muitas inspirações.
</h4>
<ul class="who-list">
	<li>
		<%= image_tag("home/photographer.png") %>
		<p class="text">
			Para você estudante e amadores da fotografia, encontre inspirações e torne-se 
			cada dia melhor e receberá reconhecimentos e prêmios.
		</p>
	</li>
	<li>
		<%= image_tag("home/professional.png") %>
		<p class="text">
			Seja um inspirador, tenha em mãos ferramentas que irá lhe ajudar ainda mais a divulgar o seu trabalho.
		</p>

	</li>		
</ul>