<div class="photo-comments">
	<div class="form-container">
		<%= content_tag :h1, t('.comments') %>
		<%= image_tag(current_user.profile.avatar(:medium),class:'avatar') %>
		<%= render '/user/photo_comments/form' %>
	</div>
</div>