<div id="photo-show-container" class="photo-view-container" >
	<%= link_to "", "#",class:"close-button",id:"photo-preview-modal-close-button" %>
  <%= render "user/shared/photo_view/show_details" %>
</div>  
