<div id="workshop-participants-container">
	<%= content_tag :label,t('.title'), class:'modal-title',id:'modal-title-participant' %>
	<%= render 'search_form' %>
	<div id="users-list">
		<%= render 'users' %>
	</div>
</div>