<%= render partial:"user/menu_profile", locals: {current_menu:'followers'} %>
<% if @users.any? %>
	<ul class='users-photographers'>
		<%= render "photographers" %>
	</ul>
<% else %>
	<div class="alert alert-success no-record"><%= t(".no_follower") %></div>
<% end %>
