<% if @paging %>
		$("#photographers-items").append("<%= escape_javascript(render 'photographers') %>");
	<% if @users.next_page %>
		$('.pagination').html('<%= j will_paginate @users %>');
	<% else %>
		$(window).off('scroll');
		$('.pagination').remove();
	<% end %>
<% else %>
	$("#photographers-items").html("<%= escape_javascript(render 'photographers') %>");
	$("<div class='pagination'></div>").insertAfter($("#photographers-items"));
	$('#infinite-scrolling').html('<%= j will_paginate @users %>');
<% end %>
PhotographerListEffect();
photographerPreview();
ActiveInfinitScrolling();
PhotoAvoidRightClick(".cover-pic");