<div class="rating">
	<h4>
		<%= "Avaliar" %>
	</h4>
	<ul>
		<li>
			<div class="score-bar">
				<div class="score poor"> 
					<label>Compsição</label>
				</div>
				<span class="score-value">0</span>
			</div>
		</li>
		<li>
			<div class="score-bar">
					<div class="score so-so"> 
					<label>Compsição</label>
				</div>
				<span class="score-value">0</span>
			</div>
		</li>
		<li>
			<div class="score-bar">
				<div class="score good"> </div>
			</div>
		</li>
		<li>
			<div class="score-bar">
				<div class="score so-good"> </div>
			</div>
		</li>
		<li>
			<div class="score-bar">
				<div class="score excelent"> </div>
			</div>
		</li>
	</ul>
	<div class="content-info">
	  
	</div>
</div>