
body {
  color: #212121;
	background-color:#FFF;
	font-family:  Helvetica, Verdana, Arial;
	font-size: 14px;
	font-weight:normal;
	margin:0;
	padding:0;
}

html {
	min-width: 1000px;
}


.panel {
	background-color: #FFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: 5px 5px 0px 0px;
	float: left;     
	margin: 10px 0 0 15px;

	h4, h5.title {
    background-color: #ebebeb;
    border-bottom: 1px solid #cecece;
		border-radius: 5px 5px 0px 0px; 
		-moz-border-radius: 5px 5px 0px 0px; 
		-webkit-border-radius: 5px 5px 0px 0px; 
    color: #777;
    font-size: 12px;
    font-weight: bold;
    line-height: 38px;
    text-indent: 20px;
    text-transform: uppercase;
		height: 37px;
		width: 100%;
	};
	h4 {
		background-color: #fff;
		font-size: 22px;
		font-weight: normal;
		float: left;
		text-indent: 0;
		margin-bottom: 20px;
		text-transform: none;
		width: 100%;
		a {
			float:right;
			margin: 5px 2px 0 0;
		}
	};
	.panel-content {
		float: left;
		padding: 15px;
		width: 95%;	
		.grid2column {
			width: 99%;
			.input {
				float: left;	
				width: 49%;
				input {
					width: 97% !important;
				}
				&.second-col {margin-left: 14px}
			 &:last-child {
        float: right;
       };
      }
		}
		p {
			color: #777;
			font-size: 16px;
    	line-height: 28px; 
    	text-align: justify;
		}
	}
}

.flat {
	h5.title {
    background-color: #fff;
    border-bottom: 1px solid #cecece;
	}
	.panel-content .show-fields {
		margin-bottom: 20px;
		float: left;
		p {
			display: block;
			float: left;
			width: 100%;
			&.colon {
				&:before {content:': ';};	
			};
			strong {
				float: left;
        line-height: 17px;
        text-align: left;
				width: 120px;
			};
			span {
				border: 0px solid #eee;
		    display: block;
		    margin: -32px 0 0 130px;
		    padding: 5px;
			} 			
		}
	}
} 

.search-form {
	float: right;
	margin: 9px 10px 0 0;
	input {
    background-color: #333333;
		border: 1px solid #0f0f0f;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    height: 28px;
    padding: 1px 2px 2px 1px;
    text-indent: 20px;
    width: 220px;
	}	
}


/*Container for flash notice and flash warning */
.flash_container {
	font-family:  Helvetica, Verdana, Arial;
  margin:0 auto;
  width:400px;
  position:absolute;
  height:auto;
  left:50%;
  margin-left:-200px;
  padding-top:6px;
  z-index: 9999999999;
}


#flash_notice {
  padding: 5px 8px;
  margin: 0px 0px 5px 0px;
  height:100%
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_warning {
  padding: 5px 8px;
  margin: 0px 0px 5px 0px;
}

#flash_warning {
  background-color: #ffc3c6 ;
  border: solid 1px #e08a8e;
}

#flash_alert {
  padding: 5px 8px;
  margin: 0px 0px 5px 0px;
  height:100%
}

#flash_alert {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.no-record, .information, .notice {
  border: 1px solid ;
  font-size: 13px;
  margin: 4px 8px 4px 1px;
  padding: 8px;
  width: 98%;

  a {
    color: #004F84;
    font-size:13px;
    font-width: bold;
    text-decoration: none;
    &:hover { font-style: italic;   text-decoration:underline }
  }
}

.no-record, .information {
  background:#F9F8E5;
  border-color: #FCCE7E;
}

.notice {
  background-color: #ffc3c6 ;
  border-color: #e08a8e;
}

.coverby-container, 
.photo-author-container {
  position: absolute;
  height: 30px;
  width: auto;
  margin: 120px 0  0 40px;
  max-width: 150px;
  span.user-name,
  span.photo-by {
    color: #FFF;
    font-size: 12px;
    float: left;
    font-weight: bold;
    text-align: center;
    margin-left: 6px;
    width: auto;
    /*text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);*/
  }
  span.photo-by {
    margin-top: 10px;
    font-weight: normal;
  }
  img.user-avatar {
    border: 2px solid #FFF;
    border-radius: 8px; 
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;     
    float: left;
    height: 30px;
    margin: 4px 0 0 7px;
    width: 30px;
  }
}

#infinite-scrolling {
  position: fixed;
  display: none;
}