
body {
  color: #212121;
	background-color:#FFF;
	font-family:  Helvetica, Verdana, Arial;
	font-size: 14px;
	font-weight:normal;
	margin:0;
	padding:0;
}

html {
	min-width: 1000px;
}


.panel {
	background-color: #FFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: 5px 5px 0px 0px;
	float: left;     
	margin: 10px 0 0 15px;

	h4, h5.title {
    background-color: #ebebeb;
    border-bottom: 1px solid #cecece;
		border-radius: 5px 5px 0px 0px; 
		-moz-border-radius: 5px 5px 0px 0px; 
		-webkit-border-radius: 5px 5px 0px 0px; 
    color: #777;
    font-size: 12px;
    font-weight: bold;
    line-height: 38px;
    text-indent: 20px;
    text-transform: uppercase;
		height: 37px;
		width: 100%;
    a.ws-example-info {
      color: #32a6d3;
      font-size: 9px;
      float: right;
      margin-right: 10px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      };
    }
	};
	h4 {
		background-color: #fff;
		font-size: 22px;
		font-weight: normal;
		float: left;
		text-indent: 0;
		margin-bottom: 20px;
		text-transform: none;
		width: 100%;
		a {
			float:right;
			margin: 5px 2px 0 0;
		}
    span.sub-title {
      color: #999;
      display: block;
      font-size: 11px;
      font-style: italic;
      font-weight: normal;
      height: 16px;
      line-height: 16px;
    }
	};
  ul.panel-toolbar {
    border-top: 0;
    float: left;
    height: 20px;
    margin-top: -15px;
    width: 100%;
    li {
      float: left;
      height: 100%;
      margin: 0px 10px 0 0;
      a {
        color: #666;
        text-decoration: none;
        font-size: 13px;
        line-height: 18px;
        margin-left: 3px;
        &:hover {
          text-decoration: underline;
        };
      }
    }
  }
	.panel-content {
		float: left;
		padding: 15px;
		width: 95%;	
		.grid2column {
			width: 99%;
      display: table;
			.input {
				float: left;	
				width: 49%;
				input {
					width: 97% !important;
				}
				&.second-col {margin-left: 14px}
			 &:last-child {
        float: right;
       };
      }
		}
		p {
			color: #777;
			font-size: 16px;
    	line-height: 24px; 
    	text-align: justify;
		}
	}
}

.flat {
	h5.title {
    background-color: #fff;
    border-bottom: 1px solid #cecece;
	}
	.panel-content .show-fields {
		margin-bottom: 20px;
		float: left;
		&.with-bottom-border {
      border-bottom: 1px solid #F5F5F5;
      margin-bottom: 22px;
      padding-bottom: 20px;
      label.sub-title {
        color: #777;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 0 10px 0 !important;
        margin-bottom: 10px;
        float: left;
      }
    }
    p {
			display: block;
			float: left;
			width: 100%;
			&.colon {
				&:before {content:': ';};	
			};
			strong {
				float: left;
        line-height: 28px;
        text-align: left;
				width: 120px;
			};
			span {
				border: 0px solid #eee;
		    display: block;
		    margin: -29px 0 0 130px;
		    padding: 5px;
			}
      a {
        color: #32a6d3;
        text-decoration: none;
        &:hover {
          text-decoration:underline;
        };
      }		
		}
 	}
  .panel-content .show-fields.no-justify-text {
    p.colon {
      line-height: 18px;
      text-align: left;
      margin-bottom: 10px;
      width: 95%;
      a {
        width: 200px;
      }
    }
  }
} 

.panel .panel-content li .mce-tinymce  {
  margin-top: 20px;
}

.search-form {
	float: right;
	margin: 9px 10px 0 0;
	input {
    background-color: #333333;
		border: 1px solid #0f0f0f;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    height: 28px;
    padding: 1px 2px 2px 1px;
    text-indent: 20px;
    width: 220px;
	}	
}


/*Container for flash notice and flash warning */
.flash_container {
	font-family:  Helvetica, Verdana, Arial;
  margin:0 auto;
  width:400px;
  position:fixed;
  height:auto;
  left:50%;
  margin-left:-200px;
  padding-top:6px;
  z-index: 9999999999;
}


#flash_notice,
#flash_warning,
#flash_alert {
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  line-height: 20px;
  min-height: 30px;
  padding-top: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: left;
}

#flash_notice {
  background-color: #dff0d8;
  border: solid 1px #d6e9c6;
  color: #468847;
  padding: 5px 8px;
  margin: 0px 0px 5px 0px;
  height:100%
}

#flash_warning {
  padding: 5px 8px;
  margin: 0px 0px 5px 0px;
}

#flash_warning {
  background-color: #ffc3c6 ;
  border: solid 1px #e08a8e;
}

#flash_alert {
  padding: 5px 8px;
  margin: 0px 0px 5px 0px;
  height:100%
}

#flash_alert {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.no-record, .information, .notice {
  border: 1px solid ;
  font-size: 13px;
  margin: 4px 8px 4px 1px;
  padding: 8px;
  width: 98%;

  a {
    color: #004F84;
    font-size:13px;
    font-width: bold;
    text-decoration: none;
    &:hover { font-style: italic;   text-decoration:underline }
  }
}

.no-record, .information {
  background:#F9F8E5;
  border-color: #FCCE7E;
}

.notice {
  background-color: #ffc3c6 ;
  border-color: #e08a8e;
}

.upload-button-timeline{
  height: 400px;
  left: 8%;
  position: absolute;
  width: 612px;
  align-items: center;
}

.upload-text{
  float: right;
  margin-left: 12px;
  text-decoration: none;
}

.upload-picture-container{
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #000000;
  display: flex;
  height: 41px;
  margin-bottom: -50px;
  margin-top: 5px;
  justify-content: center;
}

.upload-picture-container a i {
    font-size: 24px;
    margin-right: 16px;
}

.upload-picture-container:hover{
  background-color: #f7f7f7;
}

.coverby-container, 
.photo-author-container {
  position: absolute;
  height: 30px;
  width: auto;
  margin: 120px 0  0 40px;
  max-width: 150px;
  span.user-name,
  span.photo-by {
    color: #FFF;
    font-size: 12px;
    float: left;
    font-weight: bold;
    text-align: center;
    margin-left: 6px;
    width: auto;
    /*text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);*/
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      };
    }
  }
  span.photo-by {
    margin-top: 10px;
    font-weight: normal;
  }
  img.user-avatar {
    border: 2px solid #FFF;
    border-radius: 8px; 
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;     
    float: left;
    height: 30px;
    margin: 4px 0 0 7px;
    width: 30px;
  }
}

#infinite-scrolling {
  position: fixed;
  display: none;
}

#fb-root {
  z-index: 900000000;
  position: absolute;
}

.back-page, .down-page, .next-arrow, .previous-arrow {
  background: url(asset-path("home/back_page.png")) 4px 5px;
  background-repeat: no-repeat;
  bottom: 10px;
  width: 32px;
  height: 27px;
  right: 22px;
  padding: 5px;
  position: fixed;
  z-index: 9999;
}

.down-page {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
} 

.next-arrow {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);  
} 
.previous-arrow {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.loading-gif {
  background: url(asset-path("loading-wb.gif"));
  height: 60px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 40%;
  width: 100px;
}

.loading-round-gif {
  background-image: url(asset-path("loading-round.gif"));
  width: 67px;
  background-repeat: no-repeat;
  position: absolute;
  height: 68px;
}

.pagination {
  float: left;
  height: 60px;
  /*position: fixed;*/
  width: 60%; 
  margin-top: 40px;
  margin-bottom: 120px;
  a,span,em {
    color: #fff;
    visibility: hidden;
  }
}

div.mce-fullscreen {
  margin-top: 50px !important;
}