.common-button {
	background-color: #F1F1F1;
  border:1px solid #cecece;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #777;
  cursor:pointer;
  font-size:14px;
  font-weight: bold !important;
  height:33px ;
  line-height: 33px;
  padding: 0px 14px 0px 14px;
  text-decoration: none;
  /*text-shadow: 0px 1px 1px #384917;*/
  vertical-align: center;
  width:auto;	
}

.upload-button {
	float: right;	
	margin: 7px 5px 0 0;
  &:hover {
    background-color: #32a6d3;
    border-color: #1B8DBA;
    color: #FFF;
  };
}

.edit-button {
  background-color: #2CD676;
  border-color: #22AA5D;
  color: #FFF;
  float: right; 
  margin: 7px 5px 0 0;
  &:hover {
    background-color: #08D360;
    border-color: #22AA5D;
    color: #FFF;
  };
}

.cancel-button {
  background-color: #D36967;
  border-color: #A02724;
  color: #FFF;
  float: right; 
  margin: 7px 5px 0 0;
  &:hover {
    background-color: #B73C3A;
    border-color: #A02724;
    color: #FFF;
  };
}

.destroy-button {
  background-color: #D36967;
  border-color: #A02724;
  color: #FFF;
  float: right; 
  margin: 7px 5px 0 0;
  &:hover {
    background-color: #B73C3A;
    border-color: #A02724;
    color: #FFF;
  };
}

.add-button {
  background-color: #428bca;
  border-color: #357ebd;
  color: #FFF;
  float: right; 
  margin: 7px 5px 0 0;
  &:hover {
    background-color: #3276b1;
    border-color: #357ebd;
    color: #FFF;
  };
}

.submit-button, .update {
  background-color: #428bca;
  border:1px solid #357ebd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
  cursor:pointer;
  font-size:14px !important;
  font-weight: bold !important;
  height:35px ;
  line-height: 31px;
  padding: 0px 8px !important;
  vertical-align: center;
  width:120px;

  &:disabled {
    background-image: none;
    background:#e4e4e4;
    box-shadow: 0 1px 0 0 #e4e4e4 inset;
    border:1px solid #c3c3c3;
    color: #a2a2a2;
    text-shadow: 0px 0px 0px #495262;
  }

}

.submit-button:hover, .update:hover {
  background-color: #3276b1;
  border-color: #357ebd;
}










