.common-button {
	background-color: #F1F1F1;
  border:1px solid #cecece;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #777;
  cursor:pointer;
  font-size:14px;
  font-weight: bold !important;
  height:33px ;
  line-height: 33px;
  padding: 0px 14px 0px 14px;
  text-decoration: none;
  /*text-shadow: 0px 1px 1px #384917;*/
  vertical-align: center;
  width:auto;	
}

.upload-button {
	float: right;	
	margin: 5px 5px 0 0;
  &:hover {
    background-color: #32a6d3;
    border-color: #1B8DBA;
    color: #FFF;
  };
}

.edit-button {
  background-color: #2CD676;
  border-color: #22AA5D;
  color: #FFF;
  float: right; 
  margin: 5px 5px 0 0;
  &:hover {
    background-color: #08D360;
    border-color: #22AA5D;
    color: #FFF;
  };
}

.cancel-button {
  background-color: #D36967;
  border-color: #A02724;
  color: #FFF;
  float: right; 
  margin: 7px 5px 0 0;
  &:hover {
    background-color: #B73C3A;
    border-color: #A02724;
    color: #FFF;
  };
}

.destroy-button {
  background-color: #D36967;
  border-color: #A02724;
  color: #FFF;
  float: right; 
  margin: 7px 5px 0 0;
  &:hover {
    background-color: #B73C3A;
    border-color: #A02724;
    color: #FFF;
  };
}

.add-button {
  background-color: #428bca;
  border-color: #357ebd;
  color: #FFF;
  float: right; 
  margin: 7px 5px 0 0;
  &:hover {
    background-color: #3276b1;
    border-color: #357ebd;
    color: #FFF;
  };
}

.submit-button, .update {
  background-color: #428bca;
  border:1px solid #357ebd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
  cursor:pointer;
  font-size:14px !important;
  font-weight: bold !important;
  height:35px ;
  line-height: 31px;
  padding: 0px 8px !important;
  vertical-align: center;
  width:120px;

  &:disabled {
    background-image: none;
    background:#e4e4e4;
    box-shadow: 0 1px 0 0 #e4e4e4 inset;
    border:1px solid #c3c3c3;
    color: #a2a2a2;
    text-shadow: 0px 0px 0px #495262;
  }

}

.submit-button:hover, .update:hover {
  background-color: #3276b1;
  border-color: #357ebd;
}

.btn {
  background-color: #F1F1F1;
  border:1px solid #cecece;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #777;
  cursor:pointer;
  font-size:14px;
  font-weight: bold !important;
  height:33px ;
  line-height: 33px;
  padding: 4px;
  text-decoration: none;
  /*text-shadow: 0px 1px 1px #384917;*/
  vertical-align: center;
  width:auto;  
  transition:All 0.6s ease;
  text-decoration: none;
  &:hover {
    background-color: #D6D4D4;
    text-decoration: none;
  };
  &.disabled {
    background:#e4e4e4;
    box-shadow: 0 1px 0 0 #e4e4e4 inset;
    border:1px solid #c3c3c3;
    color: #a2a2a2;
    pointer-events: none;
    cursor: default;
  };
}

/* Styles e Types */
.btn-primary {
  background-color: #428bca;
  border:1px solid #357ebd;
  color: #FFF;
  &:hover {
    background-color: #206CAA;
  };
}

.btn-important {
  background-color: #da4f49;
  border:1px solid #CF453F;
  color: #FFF;
  &:hover {
    background-color: #C43B36;
    border-color: #AF2C28;
  };
}


.btn-success {
  background-color: #5bb75b;
  border:1px solid #438E43;
  color: #FFF;
  &:hover {
    background-color: #4D9B4D;
    border-color: #347734;
  };
}

/* Sizes */
.btn-bigger {
  font-size: 18px;
  padding: 7px;
}

.btn-medium {
  height: 25px;
  line-height: 27px;
  padding: 4px;
}

.btn-small {
  font-size: 13px;
  height: 20px;
  line-height: 20px;
}

.btn-tiny {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding: 1px;
}

.button-group {
  a {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 4px;
    border-radius: 0; 
    -moz-border-radius: 0; 
    -webkit-border-radius: 0; 
    &:first-child {
      border-radius: 5px 1px 0px 5px; 
      -moz-border-radius: 5px 1px 0px 5px; 
      -webkit-border-radius: 5px 1px 0px 5px; 
    };
    &:last-child {
      border-radius: 0px 5px 5px 0px; 
      -moz-border-radius: 0px 5px 5px 0px; 
      -webkit-border-radius: 0px 5px 5px 0px; 
    };
    &.selected {
      background-color: #D3D3D3;
    }
  }
}

.btn-right {
  float: right;
}








