.ui-widget-overlay {
	background-color: #000;
	z-index: 99999999;
}

.ui-dialog-titlebar { display:none; }
.ui-dialog .ui-dialog-content {
	/*background-color: #FFF;*/
	height: 100%;
	margin: 0;
	padding: 0;

}

.modal-view {
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	width: 100%;
	.photo-container, .photo-info {
		height: 100%;
		top: 0;
	}
	.photo-container {
	/*	background-color: green;*/
		height: 100%;
		position: absolute;
		right: 290px;
		left: 0px;
		/*width: 100%;	*/
		img.photo-picture {
			top: 40px;
			position: absolute;
			&.portrate {
				height: 88%;
				width: 40%;
			};
			&.landscape {
				height: 90%;
				width: 90%;
			}
		}
	}
	.photo-info {
		background-color: #222326;
		border-left: 1px solid #393B40;
		right: 0;
		padding: 10px;
		position: fixed;
		width: 280px;
		.content-info {
			border-bottom: 1px solid #393B40;
			float: left;
			margin-bottom: 10px;
			padding-bottom: 10px;
			width: 100%;
			img {
				border: 1px solid #131519;
		    border-radius: 50%;
		    float: left;
		    height: 50px;
		    margin: 0;
		    width: 50px;
			}
			a.user-name {
				float: left;
				font-size: 16px;
				font-weight: bold;
				color: #32A6D3;
				margin: 5px 0 0 10px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				};
			}
			span.posting-label,
			span.views-label, {
				color: #dbdce2;
				float: left;
				font-size: 12px;
				margin-top: 10px;
				width: 100%;
			}
			span.views-label {
				background: url("/assets/user/view_32.png" ) no-repeat 0px -5px;
				text-indent: 40px;
				font-size: 10px;
				margin-bottom: 10px;
				strong {
					/*color: #DAA622;*/
					font-size: 30px;
					/*font-weight: bold;*/
					font-style: normal;
					line-height: 20px;
				}

			}
		}
		.photo-exif {
			h1, h4 {
				color: #dbdce2;
				float: left;
				font-size: 18px;
			}
			h1 {

			}
			h4 {
				font-size: 12px;
				margin: 5px 0 5px 0;
			}
			ul {
				float: left;
				list-style: none;
				margin-top: 20px;
				li {
					height: 25px;
					width: 140px;
					float: left;
					margin-bottom: 12px;
					span {
						background: url("/assets/user/exif_sprite.png") no-repeat !important; 
						float: left;
						height: 24px;
						margin: -5px 5px 0 0;
						width: 26px;
						&.aperture {background-position: -12px -40px !important;}
						&.focal-lenght {background-position: -12px -140px !important;}
						&.shutter-speed {background-position: -12px -105px !important;}
						&.iso {background-position: -12px -73px !important}
					};
					label {
						color: #dbdce2;
						float: left;
					}
				}
			}
		}
	}
}