.ui-widget-overlay {
	background-color: #000;
	z-index: 99999999;
	opacity: 0.8;
}

/*.ui-dialog-titlebar { display:none; }*/
.noTitleStuff .ui-dialog-titlebar {display:none}
.ui-dialog .ui-dialog-content {
	/*background-color: #FFF;*/
	height: 100%;
	margin: 0;
	padding: 0;

}
.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    overflow: auto;
    padding: 0.5em 1em;
    position: relative;
}

.ui-dialog .ui-dialog-content a.close-button {
  background-color: #000;
  border: 0 none;
  border-radius: 50%;
  color: #fff;
  height: 32px;
  line-height: 32px;
  opacity: 0.6;
  position: absolute;
  right: 10px;
  text-align: center;
  text-decoration: none;
  width: 32px;
  z-index: 999999;
  transition:All 0.6s ease;
  &:hover {
  	color: #FFF;
  	opacity: 1;
  };
}

.ui-widget-content {
    background: #FFF;
    border: 2px solid #dddddd;
    color: #333333;
    border-radius: 10px 10px 5px 5px; 
		-moz-border-radius: 10px 10px 5px 5px; 
		-webkit-border-radius: 10px 10px 5px 5px; 
}

.ui-widget-content-full {
    background: #000;
    border: 0px;
    color: #333333;
    border-radius: 0px 0px 0px 0px; 
		-moz-border-radius: 0px 0px 0px 0px; 
		-webkit-border-radius: 0px 0px 0px 0px; 
		position: fixed;
		top: 0;
		overflow-y: visible;
}

.ui-dialog .ui-dialog-titlebar {
	background-color: #ebebeb;
	border-bottom: 1px solid #cecece;
  border-radius: 10px 10px 0px 0px; 
	-moz-border-radius: 10px 10px 0px 0px; 
	-webkit-border-radius: 10px 10px 0px 0px; 	
	height: 27px;
	padding: .4em 1em;
	position: relative;
	margin: -4px;
	margin-bottom: 10px;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .5em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.modal-view {
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	width: 100%;
	.photo-container, .photo-info, .photo-bar {
		height: 100%;
		top: 0;
	}
	.photo-container {
		height: 100%;
		position: absolute;
		right: 310px;
		left: 0px;
		&:hover a.previous-link, &:hover a.next-link {
			visibility:visible;
			opacity: 0.9;
		};
		.photo-picture {
			background-position: center center;
			background-size: cover;
			top: 40px;
			position: absolute;
			&.portrait {
				height: 88%;
				width: 40%;
			};
			&.landscape {
				height: 90%;
				width: 90%;
			}
		}
		a.previous-link, a.next-link {
	    transition:All 0.6s ease;
	    -webkit-transition:All 0.6s ease;
	    -moz-transition:All 0.6s ease;
	    -o-transition:All 0.6s ease;
	    opacity: 0.1;
			position: absolute;
			top: 50%;
			visibility: hidden;

		}
		a.previous-link {
			left: 0;
		}
		a.next-link {
			right: 0;
		}
	};
	ul.photo-bar {
		/*background-color: #222326;
		border-left: 1px solid #393B40;*/
		float: left;
		height: 30px;
		list-style: none;
		width: 400px;
		margin: 0 auto;
		margin-top: 2px;
		position: relative;
		/*right: 300px;
		position: fixed;
		top: 0px;
		padding-top: 5px;*/
		li {
			width: 32px;
			height: 32px;
			margin-left: 4px;
			a {
				background: url("/assets/user/photo_preview_toolbar_sprite.png") no-repeat;
				display: block;
				height: 100%;
				margin: 2px 0 0 1px;
				width: 100%;
			};
			#like-links {
				float: left;
				height: 100%;
				width: 100%;
				a.liked-photo {
					background-position: -1px 0px;
				};
				a.unlike-photo {
					background-position: -37px 0;
				}
			}
		}
	};
	.photo-info {
		background-color: #222326;
		border-left: 1px solid #393B40;
		right: 0;
		padding: 10px;
		position: fixed;
		width: 280px;
		z-index: -999;
		.content-info {
			border-bottom: 1px solid #393B40;
			float: left;
			margin-bottom: 10px;
			padding-bottom: 10px;
			width: 280px;
			label.section-label {
				color: #32a6d3;
				font-size: 10px;
				font-weight: normal;
				left: 10px;
				position: absolute;
				text-transform: uppercase;
				/*text-shadow: 0 1px 0 #000;*/
			};
			img {
				border: 1px solid #131519;
		    border-radius: 50%;
		    float: left;
		    height: 50px;
		    margin: 0;
		    width: 50px;
			}
			a.user-name {
				float: left;
				font-size: 16px;
				font-weight: bold;
				color: #32A6D3;
				margin: 5px 0 0 10px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				};
			}
			span.posting-label,
			span.views-label, {
				color: #dbdce2;
				float: left;
				font-size: 12px;
				margin-top: 30px;
				width: 100%;
			}
			span.views-label {
				font-size: 30px;
				height: 40px;
				margin-bottom: 10px;
				text-align: left !important;
				text-indent: 10px;
				width: 100%;
			};
			p.tags-label {
				margin-top: 30px;					
				a {
					color: #FFF;
					font-size: 16px;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					};
				}
			}
			ul.counts {
				float: left;
				height: 50px;
				width: 100%;
				li {
					border-right: 1px solid #393b40;
					float: left;
					height: 100%;
					padding:0;
					width: 48%;
					label {
						float: left;
						position: relative;
					};
					span {
						float: left;
						text-align: center;
						margin-top: 5px !important;
					}
					&.last-item {border-right: 0px;}
				}
			}
		}
		.photo-exif {
			h1, h4 {
				color: #dbdce2;
				float: left;
				font-size: 18px;
			}
			h1 {
				display: block;
				width: 100%;
			}
			h4 {
				font-size: 12px;
				margin: 5px 0 5px 0;
				width: 100%;
			}
			ul {
				float: left;
				list-style: none;
				margin-top: 20px;
				li {
					height: 25px;
					width: 140px;
					float: left;
					margin-bottom: 12px;
					span {
						background: url(asset-path("user/exif_sprite.png")) no-repeat !important; 
						float: left;
						height: 24px;
						margin: -5px 5px 0 0;
						width: 26px;
						&.aperture {background-position: -12px -40px !important;}
						&.focal-lenght {background-position: -12px -140px !important;}
						&.shutter-speed {background-position: -12px -105px !important;}
						&.iso {background-position: -12px -73px !important}
					};
					label {
						color: #dbdce2;
						float: left;
					}
				}
			}
		}
	}
}

label.modal-title {
	visibility: hidden;
}