.ui-widget-overlay, .modal-overlay {
	background-color: #000;
	z-index: 99999999;
	opacity: 0.8;
}

.modal-overlay {
	height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/*.ui-dialog-titlebar { display:none; }*/
.noTitleStuff .ui-dialog-titlebar {display:none}
.ui-dialog .ui-dialog-content {
	/*background-color: #FFF;*/
	height: 100%;
	margin: 0;
	padding: 0;

}
.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    overflow: auto;
    padding: 0.5em 1em;
    position: relative;
}

.ui-dialog .ui-dialog-content a.close-button {
  background-color: #000;
  border: 0 none;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  height: 29px;
  line-height: 32px;
  opacity: 0.6;
  padding: 1px 1px 0 0;
  position: absolute;
  right: 10px;
  text-align: center;
  text-decoration: none;
  width: 29px;
  z-index: 999999;
  transition:All 0.6s ease;
  /*&:after {
  	content: "X";
  };*/
  &:hover {
  	color: #FFF;
  	opacity: 1;
  };
  &:before,&:after{
    content:'';
    position:absolute;
    width: 26px;
    height:2px;
    background-color:white;
    border-radius:2px;
    top:15px;
    /*box-shadow:0 0 2px 0 #ccc;*/
	}

	&:before{
	    -webkit-transform:rotate(45deg);
	    -moz-transform:rotate(45deg);
	    transform:rotate(45deg);
	    left:2px;
	}
	&:after{
	    -webkit-transform:rotate(-45deg);
	    -moz-transform:rotate(-45deg);
	    transform:rotate(-45deg);
	    right:2px;
	}
}





.ui-widget-content {
    background: #FFF;
    border: 2px solid #dddddd;
    color: #333333;
    border-radius: 10px 10px 5px 5px; 
		-moz-border-radius: 10px 10px 5px 5px; 
		-webkit-border-radius: 10px 10px 5px 5px; 
}

.ui-widget-content-full {
    background: #000;
    border: 0px;
    color: #333333;
    border-radius: 0px 0px 0px 0px; 
		-moz-border-radius: 0px 0px 0px 0px; 
		-webkit-border-radius: 0px 0px 0px 0px; 
		position: fixed;
		top: 0;
		overflow-y: visible;
}

.ui-dialog .ui-dialog-titlebar {
	background-color: #ebebeb;
	border-bottom: 1px solid #cecece;
  border-radius: 10px 10px 0px 0px; 
	-moz-border-radius: 10px 10px 0px 0px; 
	-webkit-border-radius: 10px 10px 0px 0px; 	
	height: 27px;
	padding: .4em 1em;
	position: relative;
	margin: -4px;
	margin-bottom: 10px;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .5em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}


label.modal-title {
	visibility: hidden;
}