<div class="show-fields" style="width:100%">
  <ul class="workshop-activities" id="workshop-activities-container">
  	<%= render partial: "user/workshop_activities/workshop_activity",
					 collection: @workshop.activities, 
					 locals:{workshop_owner:false} %>
  </ul>  
</div>