<div class="show-fields" style="width:100%">
  <ul class="workshop-materials participants-view" id="workshop-materials-container">
  	<%= render partial: "user/workshop_materials/workshop_material",
							 collection: @workshop.materials,
							 locals:{workshop_owner:false} %>
  </ul>  
</div>