<h2 style="font-size:22px;margin-bottom: 30px;color: #00aeef">
	<strong>Matrícula Confirmada !!</strong>
</h2>
<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	Sua Matrícula foi confirmada e agora é só aguardar a data do início das aulas. Será um workshop incrível, muitas dicas, muitas técnicas e muita prática.
</p>
<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	Entrando na sua área do workshop no Pic2Gether, já é possível fazer download dos materias que serão utilizados em nossas aulas.
</p>

<p>Aguardamos voc&ecirc;.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>