<h2 style="font-size:22px;margin-bottom: 30px;color: #00aeef">
	<strong>Instru&ccedil;&otilde;es para confirma&ccedil;&atilde;o da Matr&iacute;cula</strong>
</h2>
<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	Querido Aluno, obrigado por se interessar pelo nosso workshop.
</p>
<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	A sua pré-matr&iacute;cula foi realizada com sucesso! Entre em contato para mais detalhes sobre os pr&oacute;ximos passos, nos enviando email atrav&eacute;s de <a href="mailto:workshops@pic2gether.com,">workshops@pic2gether.com,</a> ou pelo telefone (31) 98888-6666.
</p>
<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	Voc&ecirc; dever&aacute; entrar em contato at&eacute; a data 15/04/2016, caso contr&aacute;rio a sua vaga pode n&atilde;o ser garantida.	
 </p>
<p>Aguardamos voc&ecirc;.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>