<h2 style="color: #00aeef;font-size:22px;">Conte&uacute;do</h2>
<br>

<div>Aula 1 &ndash; Comportamento do Fotografo</div>
<div>&nbsp;</div>
<div>Aula 2 &ndash; C&acirc;mera</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Objetivas</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Modos de disparo</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Diafragma</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Obturador</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fot&ocirc;metro</div>
<div>&nbsp;</div>
<div>Aula 3 &ndash; Fotometria</div>
<div>&nbsp;</div>
<div>Aula 4 &ndash; Luz</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Qualidade da Luz</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cor da Luz</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Filtro convencionais</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Filtro Eletr&ocirc;nico ou digitais</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Filtros &Uacute;teis</div>
<div>&nbsp;</div>
<div>Aula 5 &ndash; Composi&ccedil;&atilde;o</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Linhas</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Formas Simples</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Perspectiva</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Moldura</div>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Refer&ecirc;ncia</div>
<div>&nbsp;</div>
<div>Aula 6 &ndash; Pr&aacute;tica</div>
<div>Por em pr&aacute;tica os conceitos t&eacute;cnicos estudados de forma orientada seguindo uma lista onde se exercite os conceitos de fotometria, profundidade de campo e flash de preenchimento.</div>
<p>&nbsp;</p>

<br>
<h2 style="color: #00aeef;font-size:22px;">Termos e Condições</h2><br>
<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	- Nossas turmas são inicialmente de no máximo 15 alunos, porém nos reservamos no direito de adicionar ou remover vagas dependendo das condições do curso e/ou fila de espera;
</p>

<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	- Podemos adiar ou cancelar o curso com antecedência mínima de 24 horas do seu início, seja por qualquer motivo que comprometa a qualidade do workshop/curso;
		
</p>
<p style="text-align:justify;line-height: 16px; margin-bottom: 10px;">
	- Todo e qualquer material, será disponibilizado exclusivamente via plataforma Pic2Gether.com;
</p>
