<ul class="dropdown-menu dropdown-preview-items notifications" id="notifications-menu-dropdown">
	<span class="up-arrow"></span>
	<div class="menu-header">
		<label class="menu-header-title"><%= t("labels.notifications") %></label>
	</div>
	<%= render current_user.last_received_notifications %>
	<li>
		<%= link_to t('labels.see_all'),user_notifications_path,
				 class:'footer-link', id:'notification-show-all' %>
	</li>
</ul>