<div id="notifications-all-modal-container">
	<%= link_to "", "#",class:"close-button",id:"notification-modal-close-button" %>
  <ul class="notifications-list">
  	<h2><%= t('labels.notifications') %></h2>
    <%= render @notifications %>
  </ul>
</div>
