@media screen and (max-width: 1150px) {
  .main-content-area {
    right: 0px !important;
  }
  .right-col {
    display: none;
  }
  ul.toolbar {
    .search-form {
      display: none;
    }
  }
}
@media screen and (min-width:1024px) and (max-width: 1148px) {
 .main-content-area {
    right: 0px !important;
  }
}
/*@media screen and (min-width: 1124) and (max-width:1148 ){
  .main-content-area {
    right: 250px !important;
  }
}*/

@media screen and (max-width: 481px), 
  screen and (max-width: 767px),
  screen and (min-width: 768px) and (max-width: 979px)  {

  html, body {
    overflow-x: hidden;
    min-width: 0;
  }
  ul.toolbar {
    left: 0 !important;
    li {
      a.show-responsive-menu-link {
        display: inline;
      }
    }
    ul.menu {
      display: none;
    }
    .search-form {
      display: none;
    }
  }
  .left-col {
    display: none;
  }
  .main-content-area {
    left: 0 !important;
  }
}
