.communication-container {
	span.greetings {
		font-size: 24px;
	}
	p {
		color: #777;
		font-size: 18px;
		line-height: 27px;
		text-align: justify;
		a {
			color: #65ABD4;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			};
		}
	}
}

.communication-container ul.form-fields {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	li { 
		float: left;
		input[type="checkbox"] {
			float: left;
			height: 24px;
			width: 24px;
		}
		label {
			color: #4d8dc4;
			float: left;
			margin-top: 4px;
	    font-size: 15px;
	    line-height: 27px;
		}
	}
}