body {
	background-color: #F1F1F1;	
}

.left-col {
	background-color: #F1F1F1;/*#1B1E24;*/
	bottom: 0px;
	position: relative;
	top: 55px;
	width: 250px;
	.top-info {
		background-color: #222	 ;/*#22262E;*/
		height: 52px;
		float: left;
		width: 100%;
		a.upload-photo {
			/*background-color: #B73C3A;
			border: 1px solid #A02724;*/
			float: right;
			height: 32px;
			margin: 5px 8px 5px 5px;
			width: 32px;
			img {
				margin: 2px 4px 0 3px;
			}
		}
		a.home-menu {
			color: #b9c1c7;
			display: block;
			font-size: 13px;
			float: right;
			font-weight: normal;
			height: 100%;
			line-height: 47px;
			padding: 0 7px 0 7px;
			text-decoration: none;
			text-transform: uppercase;		
			&:hover {
				background-color: #333333;
			}
			span {
		    float: left;
		    margin: 12px 2px 0 0;
			}
		}
	}
	.float-container {
		background-color: #fff;
    border: 1px solid #ddd;
		border-radius: 5px; 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 		
		float: left;
		margin: 10px 10px 5px;
		padding-bottom: 0px;
		width: 237px;
		.user-content {
			float: left;
			height: auto;
			margin-bottom: 10px;
			width: 100%;
			.cover-pic {
				background-color: #222222;
				background-size: cover;
				background-position: center top;
				border-radius: 5px 5px 0px 0px; 
				-moz-border-radius: 5px 5px 0px 0px; 
				-webkit-border-radius: 5px 5px 0px 0px; 
				height: 120px;
				width: 100%;
				.btn {
					right: 0;
					height: 16px;
					margin: 5px 5px 0 0;
					position: absolute;
					width: 16px;
					visibility: hidden;
					span {
						float: left;
					}
				}
				&:hover .btn {
					visibility: visible;
				};
			}
			.user-infos {
				margin-top: -80px;
				img.avatar {
					border-radius: 10%;
					border: 2px solid #fff;
					float: left;
					height: 65px;
					margin: 30px 0 0 7px;
					width: 65px;
				}
				label.user-name {
					color: #fff;
			    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
					float: left;
					font-size: 18px;
					margin: 45px 0 0 5px;

					a {
						color: #fff;
						display: block;
						font-weight: normal;
						float: left;
						text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						};
					}
					p {
						color: #fff;
				    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
						font-size: 12px;
						line-height: 18px;
						margin-top: 15px;
						width: 100%;
					}
				};
				span.user-ranking {
					color: #333;
					display: block;
					font-size: 28px;
					font-weight: bold;
					float: left;
					text-align: center;
					margin-top: 10px;
					width: 160px;
				}
				ul.user-resume {
			    float: left;
			    height: auto;
			    margin: 5px 0 0px 0;
			    width: 99%;
					li {
						float: left;
						margin: 10px 0 10px 0;
						width: 33.33%;
						label {
							color: #999999;
							float: left;
							font-size: 11px;
							font-weight: normal;
							text-transform: uppercase;
							text-align: center;
							width: 100%;
						};
						span {
							color: #32a6d3;
							float: left;
							font-size: 25px;
							text-align: center;
							margin-top: 10px;
							width: 100%;
							a {
								color: #666;
								text-decoration: none;
								&:hover {
									text-decoration:underline;
								}; 
							}
						}
					}
				}
			}
		}
		.user-content	.level-progress {
			border-top: 1px solid #eee;
	    float: left;
	    height: 23px;
	    margin-bottom: -13px;
	    width: 100%;
	    img.level-avatar {
	    	float: left;
	    	height: 24px;
    		width: 24px;
	    }
			.progress-bar {
				background-color: #E8E5E5;
				float: left;
				height: 20px;
				line-height: 15px;
				width: 100%;
				span.points {
					color: #333;
			    font-size: 12px;
			    line-height: 22px;
			    position: absolute;
			    text-align: center;
			    width: 237px;
    		}
				.progress {
					background-color: #5ba4cf;
					height: 100%;
					width: 30%;
				}
			}
			span.level {
	    	color: #777;
		    font-size: 12px;
		    left: 13px;
		    margin-top: 8px;
		    position: absolute;
		    text-transform: uppercase;
		    strong {
	    		font-weight: bold;
	    	}
    	}
		}
	}
	.float-container ul.menu {
		float: left;
		padding: 10px 0 20px 5px;
		width: 100%;
		h1 {
			color: #66757f;
	    font-size: 20px;
	    font-weight: normal;
	    padding: 10px;
	    width: 100%;
		}
		li {
			border-bottom: 1px solid #efefef;
			float: left;
			height: 30px;
			width: 100%;
			a {
				color: #333;
				float: left;
				line-height: 30px;
				text-decoration: none;
				text-indent: 12px;
				&:hover {
					color: #32a6d3;
				};
			}
			span.badges {
				float: right;
				margin: 7px 10px 0 0;
			}
		}
	}

}
.left-col.fixed-col {
	position: fixed;
}

.left-col ul.suggestion-to-follow-photographers,
.left-col ul.social-network {
	float: left;
	width: 100%;
	h1 {
		color: #66757f;
		font-size: 18px;
		font-weight: normal;
		padding: 10px;
		width: 100%;
	}
	li {
		border-bottom: 1px solid #EAEAEA;
		float: left;
		width: 100%;
		min-height: 40px;
		padding: 5px 0 5px 0px;
		transition:All 0.6s ease;
		&:hover {
			background-color: #F1F1F1;
		};
		img.user-avatar {
			border-radius: 50%;
			float: left;
			height: 45px;
			margin-left: 10px;
			width: 45px;
		}
		.text-box {
			float: left;
			a.photographer-name, span.photographer-category {
				display: table;
				float: left;
				margin:5px 0 0 10px;
				text-decoration: none;
				width: 100%;

			}
			a.photographer-name {
				color: #333;
				font-size: 15px;
				&:hover {
					text-decoration: underline;
				};
			}
			span.photographer-category {
				color: #b7b7b7;
				font-size: 12px;
			}
		}
		&:hover .add-button {
			visibility: visible;
			opacity: 1;
		}
		.add-button {
			height: 20px;
	    left: 5px;
	    line-height: 20px;
	    margin: 5px 0 0 150px;
	    opacity: 0.4;
	    position: absolute;
	    transition:All 0.6s ease;
	    visibility: hidden;
	    width: auto;
		}
	}
}

.left-col ul.social-network {
	li {
		min-height: 20px;
		a {
			color: #333;
			font-size: 13px;
			margin-left: 10px;
			text-decoration: none;
			line-height: 20px;
		}
	}
	p.share-message {
		color: #777;
    float: left;
    font-size: 11px;
    line-height: 13px;
    margin: 20px 10px 10px 10px;
	}
	
}

.dash-centralize {
	background-color: red;
	height: auto;
	margin: 0 auto;
	width: 1024px;

}
.top-info,
ul.toolbar {
  background-color: #222222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	height: 52px;
	transition: background-color 0.1s ease-out 0s;
}


.main-content-area {
	bottom: 0;
	left: 250px;
	right: 0;
	top: 60px;
	position: absolute;
	.centralizer {
		margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
	}
	&.full-size {
		left: 0;
	};
}

ul.buttons-bar {
	float: right;
	height: 30px;
	li {
		border: 1px solid #eee;
		border-radius: 3px; 
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px;		
		height: 28px;
		width:  24px;
		margin: 5px 4px 0 1px;
		padding: 2px 4px 4px 4px;
		a {
			display: block;
			height: 100%;
			float: left;
			width: 100%;
			span {
				float: left;
		    width: 30px;
			}
		}
		&.selected {
			background-color: #24B2E5;
			border: 1px solid #32A6D3;
		}
	}
}