body {
	background-color: #E5E5E5;	
}

.left-col {
	background-color: #E5E5E5;/*#1B1E24;*/
	bottom: 0px;
	position: fixed;
	top: 0;
	width: 250px;
	.top-info {
		background-color: #F8F8F8	 ;/*#22262E;*/
		height: 45px;
		float: left;
		width: 100%
	}
	.float-container {
		background-color: #1B1E24;
		border-radius: 5px; 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 		
		float: left;
		margin: 15px 10px 10px 10px;
		padding-bottom: 20px;
		width: 237px;
		.user-content {
			float: left;
			height: auto;
			margin-bottom: 10px;
			width: 100%;
			img.avatar {
				border-radius: 50%;
				border: 1px solid #131519;
				float: left;
				height: 65px;
				margin: 15px 0 0 7px;
				width: 65px;
			}
			label.user-name {
				color: #FFF;
				float: left;
				font-size: 19px;
				margin: 20px 0 0 10px;
				span {
					display: block;
					font-weight: normal;
					float: left;
				}
			};
			span.user-ranking {
				color: #999999;
				display: block;
				font-size: 28px;
				float: left;
				text-align: center;
				margin-top: 10px;
				width: 160px;
			}
			ul.user-resume {
				border-bottom: 1px solid #4f4f4f;
		    float: left;
		    height: auto;
		    margin: 10px 0 10px 0;
		    width: 99%;
				li {
					float: left;
					margin: 10px 0 10px 0;
					width: 33.33%;
					label {
						color: #999999;
						float: left;
						font-size: 11px;
						font-weight: normal;
						text-transform: uppercase;
						text-align: center;
						width: 100%;
					};
					span {
						color: #32a6d3;
						float: left;
						font-size: 25px;
						text-align: center;
						margin-top: 10px;
						width: 100%;
						a {
							color:#32a6d3;
							text-decoration: none;
							&:hover {
								text-decoration:underline;
							}; 
						}
					}
				}
			}
		}
		ul.menu {
			float: left;
			width: 100%;
			list-style: none;
			li {
				float: left;
				margin-bottom: 2px;
				padding: 0;
				width: 100%;
				a {
					background-image: url(/assets/user/dashboard_menu_sprite.png) ;
					background-repeat: no-repeat;
					color: #999999;
					font-size: 12px;
					display: block;
					float: left;
					height: 24px;
					line-height: 24px;
					padding: 2px 0 2px 0;
					text-decoration: none;
					text-indent: 60px;
					text-transform: uppercase;
					width: 100%;
					&.profile {background-position: 20px 0px;}
					&.photographers {background-position: 20px -102px;}
					&.upload {background-position: 20px -51px;}
				}
				&:hover a {color: #FFF} ;
				/*&:hover span.profile {background-position: 20px -24px;}
				&:hover span.photographers {background-position: 38px -127px;}
				&:hover span.upload {background-position: 25px -77px;}*/
			}
		}
	}
}

.dash-centralize {
	background-color: red;
	height: auto;
	margin: 0 auto;
	width: 1024px;

}

ul.toolbar {
	background-color: #F8F8F8;
	box-shadow:1px 2px 5px #DBD5D9;
	height: 45px;
	list-style: none;
	left: 250px;
	right: 0px;
	position: fixed;
	z-index: 999;
	li {
		border-right: 1px solid #E9E9E9;
		float: left;
		height: 100%;
		padding: 0 10px 0 10px;
		&.logo {
			float: left;
			width: 140px;			
		};
	};
	li.page-title {
		border-right: 0 !important;
		float: left;
		h1 {
			color: #777;
			font-size: 14px;
			font-weight: bold;
			height: 34px;
			line-height: 47px;
			margin-top: 2px;
			text-transform: uppercase;

		}
		h1.title-icon {
			background: url("/assets/user/titles_sprite.png") no-repeat;
			text-indent: 45px;
			&.upload-photo {background-position: 0px 5px;}
			&.profile {background-position: 0px -29px;}
		}
	};
	li.user-info {
		border-left: 1px solid #E9E9E9;
		float: right;
		width: 80px;
		/*img.avatar {
			border-radius: 50%;
			border: 1px solid gray;
			float: left;
			height: 42px;
			margin: 7px 0 0 -6px;
			width: 42px;
		}
		label.user-name {
			float: left;
			font-size: 12px;
			margin: 20px 0 0 10px;
		}*/
	}
	ul.menu {
		float: left;
		height: 100%;
		list-style: none;
		li {
			padding: 0;
			a {
				color: #999999;
				display: block;
				font-size: 13px;
				float: left;
				font-weight: bold;
				height: 100%;
				line-height: 47px;
				padding: 0 20px 0 20px;
				text-decoration: none;
				text-transform: uppercase;
			}
			span {
				background-color: blue;
				float: left;
				height: 3px;
				margin-top: -3px;
				width: 100%;
				&.photos {background-color: green}
				&.following {background-color: yellow}
				&.followers {background-color: black}
			}
			&.current {
				border-bottom: 2px solid #32A6D3;
				a {
					color: #32A6D3;
					font-weight: bold;
				}

			}
		}
	}
}

.main-content-area {
	bottom: 0;
	left: 250px;
	right: 0;
	top:50px;
	position: absolute;
	.centralizer {
		margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
	}
}

ul.photos-gallery {
	width: 100%;
	li {
		float: left;
		margin: 0;
	}
}