body {
	background-color: #EAEAEA;	
}

.dash-centralize {
	background-color: red;
	height: auto;
	margin: 0 auto;
	width: 1024px;

}

ul.toolbar {
	background-color: #FFF;
	box-shadow:1px 2px 5px #DBD5D9;
	height: 60px;
	list-style: none;
	position: fixed;
	width: 100%;
	li {
		border-right: 1px solid #E9E9E9;
		float: left;
		height: 100%;
		padding: 0 10px 0 10px;
		&.logo {
			float: left;
			width: 140px;			
		};
	}
	li.user-info {
		border-left: 1px solid #E9E9E9;
		float: right;
		width: 180px;
		img.avatar {
			border-radius: 50%;
			border: 1px solid gray;
			float: left;
			height: 42px;
			margin: 7px 0 0 -6px;
			width: 42px;
		}
		label.user-name {
			float: left;
			font-size: 12px;
			margin: 20px 0 0 10px;
		}
	}
	ul.menu {
		float: left;
		height: 100%;
		list-style: none;
		li {
			padding: 0;
			a {
				color: #999999;
				display: block;
				float: left;
				height: 100%;
				line-height: 90px;
				margin-top: -30px;
				padding: 0 20px 0 20px;
				text-decoration: none;
			}

			span {
				background-image: url(/assets/user/dashboard_menu_sprite.png) ;
				background-repeat: no-repeat;
				background-position: center center;
				float: left;
				margin: 10px 0 0 0;
				width: 100%;
				height: 24px;
				&.profile {background-position: 20px 0px;}
				&.photographers {background-position: 38px -103px;}
				&.upload {background-position: 25px -52px;}
			}
			&:hover a {color: #000} ;
			&:hover span.profile {background-position: 20px -24px;}
			&:hover span.photographers {background-position: 38px -127px;}
			&:hover span.upload {background-position: 25px -77px;}
		}
	}
}