ul.timeline {
	height: 400px;
	left: 50%;
	margin-left: -310px;
	position: absolute;
	width: 612px;
	li {
		float: left;
		margin-top: 60px;
		width: 600px;
		&:first-child {
			margin-top: 0px;
		};
		.photo-author-container {
			float: left;
			position: relative;
		 	margin: 0;
		 	min-width: 350px;
		 	span {
		 		color: #333;
	 			text-shadow: 0 !important;
	 			&.photo-by {
	 				color: #9d9d9d;
					font-size: 10px;
					font-weight: normal;
					margin-bottom: 4px;
					margin-top: 10px;	 	
	 			}
	 			&.user-name {
	 				margin: 25px 0 0 -42px;
	 				a {
	 					color: #333;
	 					text-decoration: none;
	 					&:hover {
	 						text-decoration: underline;
	 					}
	 				}
	 			}
		 	}
		 	img.user-avatar {
		 		border-radius: 50%;
		    border-width: 3px;
		    height: 45px;
		    margin-left: 0;
		    width: 45px
		 	}
		}
		.timestamp {
			/*ackground-color: #008CBF;
			border-radius: 31px; 
			-moz-border-radius: 31px; 
			-webkit-border-radius: 31px; */
			color: #9D9D9D;
			font-size: 13px;
			float: right;
			margin-top: 20px;

		}

   	.item {
			background-color: #FFF;
			border: 1px solid #EAEBED;
			display: table;
			float: left;
			height: 100px;
			width: 100%;
			margin-top: 10px;
			padding: 5px;
			
			.img-pic {
				height: 100%;
				width: 100%;
				background-size: cover;
				background-position: center center;
				&.landscape {
					height: 400px;
				}
				&.portrait {
					height: 700px;
				}
				a {
					float: left;
					height: 100%;
					width: 100%;
				}
			}
			.photo-info {
				float: left;
				margin-top: 10px;
				padding: 5px;
				h1 {
					color: #383845;
					float: left;
					font-size: 22px;
					width: 100%;
				}
				p {
					color: #333;
					font-size: 14px;
					float: left;
					line-height: 18px;
					margin-top: 30px;
					width: 100%;
				}
			}
			.photo-menu-popup {
				margin-top: -95px;
    		right: 10px;
			}

			.photo-couters {
				height: 20px;
				margin-top: -7px;
				position: absolute;
				right: 36px;
				label {
					color: #6B6B6B;
					float: left;
					line-height:20px;
					margin-right: 8px;
					span {
						float: left;
						margin-right: 4px;
						opacity: 0.4;
					}
					span.count-item {
						float: left;
						opacity: 1;
					}
					/*&:after {
						content: " . ";
					}*/
					&:last-child:after {
						content: ""
					};
				}
			}
		}
		
		.item .comment-list-container {
			background-color: #F7F7F7;
			border-top: 1px solid #eaebed ;
			float: left;
			width: 100%;
			ul.comment-items {
				margin-top: 7px;
				width: 100%;
				li {
					float: left;
					width: 100%;
					margin-top: 10px;
					padding: 5px;
					.avatar {
						float: left;
						border: 2px solid #fff;
				    border-radius: 50%;
				    float: left;
				    height: 35px;
				    margin: -4px 0 0 0px;
				    width: 35px;
					}
					.text-box {
						float: left;
						margin: 0px 0 0 10px;
						width: 530px;
						&:hover a.comment-destroy-link {
							visibility: visible;
						};
						span.user-comment {
							float: left;
							width: 100%;
							a {
								color: #32a6d3;
								font-size: 14px;
								float: left;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								};
							}
							p {
								color: #8f8f8f;
								font-size: 11px;
								float: left;
								width: auto;
								margin: -2px 0 0 7px;
							}
						}
						p {
							float: left;
							line-height: 20px;
							text-align: justify;
							width: 97%;
						}
						a.comment-destroy-link {
							color: #777;
							font-size: 12px;
							text-decoration: none;
							position: absolute;
							margin-left: -90px;
							visibility: hidden;
							&:hover {
								text-decoration: underline;
							};
						}
					}
					.text-box .comment-form {
						form {
							margin: -15px 0 0 -2px;
    					width: 97%;
						}
					}
				}
			}
		}
	}
}