ul.photos-gallery {
	li {
		margin: 11px 0 0 15px;
		padding: 1px;
		width: 270px;
		height: 270px;
		img {
			height: 100%;
			border-radius: 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			width: 100%;
		}
		.fix-info {
			position: relative;
	    margin-top: -44px;
	    h5, h6 {
	    	color: #fff;
	    	float: left;
	    	font-weight: bold;
	    	text-shadow: 0.1px 0.1px 0.5px #2a2b2d;
	    	margin: 4px 0 0 2px;
	    	width: 100%;
	    }
	    h5 {
		    font-size: 18px;
	    };
	    h6 {
	    	font-size: 12px;
	    	font-weight: normal !important;
	    }	    
		};
		.info {
			/*background-color: #000;*/
			visibility: hidden;
	    height: 50px;
	    margin-top: -270px;
	    opacity: 0.8;
	    position: relative;
	    width: 100%;
	    span {
	    	color: #aaa;
	    	margin: 7px 30px 0 3px;
	    	text-indent: 20px;
	    	&.views {
	    		background: url("/assets/user/views_pb_16.png") no-repeat 0 -2px;
	    	}
	    	&.likes {
	    		background: url("/assets/user/like_pb_16.png") no-repeat 0 -1px;
	    	}
	    }
		}

		&:hover .info	{
			visibility: visible;

		};
	}		
}





/* Upload Form */
input.camera-field {
	background-image: url("/assets/user/camera.png");
	background-position: 5px 7px;
	background-repeat: no-repeat;
	background-color: white;
	border: 1px solid #ADA9A5;
	padding-left: 2px;
	text-indent: 32px;
}

#dragandrophandler {
	border:2px dotted #0B85A1;
	height: 400px;
	width:92%;
	color:#92AAB0;
	text-align:center;
	vertical-align:center;
	padding:10px 10px 10 10px;
	margin:0 0 10px 10px;
	font-size:200%;
	img {
		display: block;
		height: 100%;
		width: 100%;
	};
	li {
		left: 0;
		list-style: none;
		position: absolute;
		top: 160px;
		label {
			cursor: pointer;
			text-align: center;
			font-weight: normal;
			/*background-color: #32A6D3;
			border: 1px solid #1D85AA;
		  border-radius: 7px;
		  -moz-border-radius: 7px;
		  -webkit-border-radius: 7px;
			color: #FFF;
			cursor: pointer;
			font-size: 20px;
			float: left;
			height: 50px;
			line-height: 50px;
			margin-left: 40%;
			padding: 15px;
			width: 100px !important;
			&:hover {background-color:#37AED6; border-color: #32A6D3};*/

		}
		input {
			visibility: hidden;
			font-size: 10px;
		}
	};
}

