ul.photos-gallery-grid, 
ul.photos-gallery-flow, 
ul.photos-gallery-list {
	width: 100%;
	li {
		float: left;
		margin: 11px 0 0 15px;
		padding: 1px;
		width: 270px;
		height: 270px;
		img {
			height: 100%;
			border-radius: 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			width: 100%;
		}
		.fix-info {
			position: relative;
	    margin-top: -44px;
	    h5, h6 {
	    	color: #fff;
	    	float: left;
	    	font-weight: bold;
	    	text-shadow: 0.1px 0.1px 0.5px #2a2b2d;
	    	margin: 4px 0 0 2px;
	    	width: 100%;
	    }
	    h5 {
		    font-size: 18px;
	    };
	    h6 {
	    	font-size: 12px;
	    	font-weight: normal !important;
	    }	    
		};
		.gallery-photo-info {
			visibility: hidden;
	    float: left;
	    height: 50px;
	    margin-top: -265px;
	    position: relative;
	    width: 100%;
	    .info-item {
				background-color: #1B1E24;
				border-radius: 5px; 
				-moz-border-radius: 5px; 
				-webkit-border-radius: 5px;				
		    float: right;
		    height: 54px;
		    margin: 4px 5px 15px 0;
		    opacity: 0.9;
		    width: auto;
		    color: #fff;
		    span {
		    	float: left;
	    		font-size: 12px;
			    text-indent: 0px !important;  
			    margin: 5px 0 0 0;
			    text-align: center;
	    		width: 100%;
		    };
		    h1 {
		    	float: left;
					font-size: 30px;
			    text-align: center;
			    margin: 0px;
			    margin-top: 2px;
			    width: 100%;
		    }
	    }
		}
		&:hover .gallery-photo-info	{	visibility: visible;};
	}		
}

ul.photos-gallery-flow, 
ul.photos-gallery-list {
	width: 99%;
	float: left;
	.style-1, .style-2, .style-3 {
		float: left;
		height: auto;/*564px;*/
		width: 100%;
		li.bigger, li.smaller, li.landscape, li.portrait  {
			float: left;
			a {
				float: left;
				width: 100%;
				img {
					border:1px solid #D8D8D8;
					border-bottom: 0px;
					border-radius: 5px 5px 0px 0px; 
					-moz-border-radius: 5px 5px 0px 0px; 
					-webkit-border-radius: 5px 5px 0px ;
				}
			}
			.details {
				background-color: #F8F8F8;
				border:1px solid #D8D8D8;
				border-radius: 0px 0px 5px 5px; 
				-moz-border-radius: 0px 0px 5px 5px; 
				-webkit-border-radius: 0px 0px 5px 5px;
				float: left;
				height: 50px;
				margin-top: -2px;
				width: 100%;
				img.user-avatar {
					border-radius: 50%;
					border: 0px solid #131519;
					float: left;
					height: 40px;
					margin: 4px 0 0 7px;
					width: 40px;
				}
				.details-content {
					float: left;
					max-width: 200px;
					a, p {
						float: left;
						font-weight: normal;
						text-decoration: none;
						width: 100%;
					}
					a {
						color: #32a6d3;
						margin: 8px 0 0 10px;
						&:hover {text-decoration:underline;};
					}
					p {
						color: #B7B7B7;
						margin: 5px 0 0 10px;
						font-size: 12px;
					}
				}
				.details-resume {
					height: 40px;
					float: right;
					width: 70px;
					position: relative;
					label {
						color: #b7b7b7;
						float: left;
						height: 15px;
						line-height: 16px;
						margin-top: 5px;
						text-indent: 20px;
						width: 100%;
						&.likes {
							background: url("/assets/user/like_pb_16.png") no-repeat;
						};
						&.views {
							background: url("/assets/user/views_pb_16.png") no-repeat;
						}
					}
				}
			}			
		};
		li.bigger, li.portrait {
			height: auto;
			width: 65%;
			a img {
				height: 500px;
			}
		};
		li.portrait {
			height: auto;
			margin-left: 18%;
			a img {
				float: left;
				height: auto;
			}					
		};
		li.smaller {
			height: auto;
			width: 31%;
			a img {
				height: 220px;
			}
		};
		li.landscape {
			height: auto;
			width: 65%;
			margin-left: 18%;
		};

	};
	.style-2 {
		li.bigger {
			float: right;
		};
		li.smaller {
			float: left;
		}
	};
	.style-3 {
		li.bigger, li.smaller {
			height: auto;
			width: 31.5%;
			float:left;
			a img {
				height: 500px;
			}	
		}
	}
	ul.photos-gallery-list {
		width: 100%;
		border: 1px solid red;
	}
}



/* Upload Form */
input.camera-field {
	background-image: url("/assets/user/camera.png");
	background-position: 5px 7px;
	background-repeat: no-repeat;
	background-color: white;
	border: 1px solid #ADA9A5;
	padding-left: 2px;
	text-indent: 32px;
}

#dragandrophandler {
	border:2px dotted #0B85A1;
	height: 400px;
	width:92%;
	color:#92AAB0;
	text-align:center;
	vertical-align:center;
	padding:10px 10px 10 10px;
	margin:0 0 10px 10px;
	font-size:200%;
	img {
		display: block;
		height: 100%;
		width: 100%;
	};
	li {
		left: 0;
		list-style: none;
		position: absolute;
		top: 160px;
		label {
			cursor: pointer;
			text-align: center;
			font-weight: normal;
			/*background-color: #32A6D3;
			border: 1px solid #1D85AA;
		  border-radius: 7px;
		  -moz-border-radius: 7px;
		  -webkit-border-radius: 7px;
			color: #FFF;
			cursor: pointer;
			font-size: 20px;
			float: left;
			height: 50px;
			line-height: 50px;
			margin-left: 40%;
			padding: 15px;
			width: 100px !important;
			&:hover {background-color:#37AED6; border-color: #32A6D3};*/

		}
		input {
			visibility: hidden;
			font-size: 10px;
		}
	}	
}

.photo-show-extra-content {
	width: 100%;
	background-color: #F8F8F8;/*#3D3D3D;*/
	height: auto;
	left: 0;
	min-height: 500px;
	position: absolute;
	padding: 10px 0 0 20px;
	z-index: 9999;
	.photo-comments {
		/*border: 1px solid #FFF;*/
		height: auto;
		width: 700px;
		float: left;
		h1 {
			color: #999999;/*#fff*/;
			font-weight: bold;
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 10px;
			width: 100%;
		};		
		.form-container {
			/*border: 1px solid #EEE;*/
			width: 100%;
			img.avatar {
				border: 1px solid #131519;
				border-radius: 5px; 
				-moz-border-radius: 5px; 
				-webkit-border-radius: 5px;				
		    float: left;
		    height: 65px;
		    margin: 0px 0 0 7px;
		    width: 65px;
			};
			form {
				float: left;
				margin: 0 0 0 17px;
				width: 80%; 
				.submit-button {
					float: right;
					margin: -10px 8px 0px 0;
				}
			}
		}
	}
	.photo-comments ul {
		/*border-top: 1px solid #eee;*/
		float: left;
		width: 100%;
		margin-top: 30px;
		padding-top: 20px;
		li {
			float: left;
			margin-bottom: 20px;
			width: 100%;
			img.avatar {
				/*border: 1px solid #131519;*/
				border-radius: 3px; 
				-moz-border-radius: 3px; 
				-webkit-border-radius: 3px;				
		    float: left;
		    height: 55px;
		    margin: 0px 0 0 7px;
		    width: 55px;
			};
			.comments-content {
				float: left;
				margin-left: 20px;
		    max-width: 560px;
				h2.user_name {
					color: #000;
					font-size: 16px;
					font-weight: bold;
					text-transform: none;
					float: left;
					margin-bottom: 2px;
					width: 100%;
				};				
				span {
					color: #AEAFB0;
			    font-size: 12px;
			    font-weight: normal;
			    margin: 0 0 0 5px;
				};
				p.content {
					color: #71767A;
					float: left;
					line-height: 20px;
					margin: 5px 0 0;
				}
			}			
		}
	}
	.photo-likers ul {
		float: left;
		width: 300px;
		h1 {
			color: #32A6D3;/*#fff*/;
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
			width: 100%;
		}
		img.avatar {
			border: 1px solid #131519;
			border-radius: 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px;				
	    float: left;
	    height: 55px;
	    margin: 0 2px 2px 0;
	    width: 55px;
		};		
	}
}