/*Commons*/
.grid-flow .row .col .img-container .img-pic,
.grid-table .img-container .img-pic,
.grid-list .img-container .img-pic {
	background-position: center center;
	background-size: cover;
	border: 1px solid #ddd;
	border-bottom: 0;
	float: left;
	height: 100%;
	width: 100%;
	a.photo-picture {
		display: table;
		height: 100%;
		width: 100%;
	}
}

.grid-flow .row .col .img-container,
.grid-table .img-container,
.grid-list .img-container {
	height: 100%;
	margin-right: 10px;
	/*transition: all 0.4s linear 0s;*/
	ul.photo-counts {
		height: 60px;
		position: absolute;
		visibility: hidden;	
		width: auto;
		li {
			float: left;
			border: 1px solid #000;
			border-radius: 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px;
			opacity: 0.1;
			padding: 5px;
			transition:All 0.6s ease;
			margin: 5px 0 0 5px;
			h1,span {
				color: #fff;
			}
			span {
				font-size: 10px;
			}
			h1 {
				font-size: 22px;
				text-align: center;
				margin-top: 5px;
				width: 100%;
			}
		}
	}
	&:hover ul.photo-counts li {
		background-color: #000;
		opacity: 0.8;
		visibility: visible;
	};
}

.grid-flow .row .col .img-container .img-info,
.grid-table .img-container .img-info,
.grid-list .img-container .img-info {
	border: 1px solid #ddd;
	background-color: #eee;
	float: left;
	height: 50px;
	width: 100%;
	img.user-avatar {
		border-radius: 50%;
		border: 0px solid #131519;
		float: left;
		height: 40px;
		margin: 4px 0 0 7px;
		width: 40px;
	}
	.details-content {
		float: left;
    margin-left: 45px;
    margin-top: 5px;
    max-width: 200px;
    position: absolute;
		a, p, label.photo-title {
			float: left;
			font-weight: normal;
			text-decoration: none;
			width: 100%;
		}
		a  {
			color: #32a6d3;
			margin: 8px 0 0 10px;
			&:hover {text-decoration:underline;};
		}
		label.photo-title {
			color: #76777F;
			font-size: 15px;
			margin: 8px 0 0 10px;
			
		}					
		p {
			color: #B7B7B7;
			margin: 5px 0 0 10px;
			font-size: 12px;
		}
	}
}

/* Grid Flow Layout */
.grid-flow {
	width: 100%;
}

.grid-flow .row {
	float: left;
	height: 600px;
	width: 100%;
	margin-bottom: 5px;
}

.grid-flow .row .col {
	height: 100%;
	float: left;
}

.grid-flow .row .col.last-col .img-container {
	margin-right: 0;
}

.grid-flow .row .col.col20 {
	width: 20%
}

.grid-flow .row .col.col25 {
	width: 25%
}

.grid-flow .row .col.col33 {
	width: 33.33%
}

.grid-flow .row .col.col33:last-child .img-container {
	margin-right: 0;
}

.grid-flow .row .col.col40 {
	width: 40%
}

.grid-flow .row .col.col50 {
	width: 50%
}

.grid-flow .row .col.col75 {
	width: 75%
}

.grid-flow .row .col .img-container.w50 {
	float: left;
	width: 50%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.w100 {
	float: left;
	width: 100% !important;
}

.grid-flow .row .col .img-container.h100 {
	height: 100%;
}

.grid-flow .row .col .img-container.h100 .img-pic {
	height: 90%
}

.grid-flow .row .col .img-container.h30 {
	height: 24.2%;
	margin-top: 12px;
	margin-right: 14px;
	width: 48.8% ;
}

.grid-flow .row .col .img-container.h30:last-child {
	float: right;
	margin-right: 0;
}

.grid-flow .row .col .img-container.h33 {
	height: 22.9%;
	margin-bottom: 14px;
	float: left;
}

.grid-flow .row .col .img-container.h50 {
	height: 48%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.h50:last-child {
	margin-bottom: 0px;
}

.grid-flow .row .col .img-container.h50 .img-pic {
	height: 83%;
}

.grid-flow .row .col .img-container.h60 {
	height: 55%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.h70 {
	height: 65%;
	margin-bottom: 14px;
}

.grid-flow .row .col .img-container.top50 {
	margin-top: 50px;
}

/*Grid Table*/
.grid-table {
	.img-container {
		float: left;
		height: 300px;
    margin-bottom: 10px;
    width: 24%;
		.img-info {
			background-color: #000;
			border: 1px solid #000;
			margin-top: -50px;
			opacity: 0.1;
			/*transition:All 0.8s ease;*/
			transition:All 0.6s ease;
			visibility: hidden;
		}
		&:hover .img-info {
			background-color: #000;
			opacity: 0.8;
			visibility: visible;
		};
	}
}

/*List Table*/
.grid-list {
	align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: center;
  left: 50%;
  margin-left: -275px;
  position: absolute;
  width: 550px;
	.img-container {
		float: left;
		height: 600px;
    margin-bottom: 10px;
    width: 100%;
  	.img-pic {
  		height: 550px;
  	}
	}
}

.photo-explore-container {
	width:90%;
	margin-left:5%
}



/* Upload Form */
input.camera-field {
	background-image: url(asset-path("user/camera.png"));
	background-position: 5px 7px;
	background-repeat: no-repeat;
	background-color: white;
	border: 1px solid #ADA9A5;
	padding-left: 2px;
	text-indent: 32px;
}

#dragandrophandler {
	border:2px dotted #0B85A1;
	height: 400px;
	width:92%;
	color:#92AAB0;
	text-align:center;
	vertical-align:center;
	padding:10px 10px 10 10px;
	margin:0 0 10px 10px;
	font-size:200%;
	img {
		display: block;
		height: 100%;
		width: 100%;
	};
	li {
		left: 0;
		list-style: none;
		position: absolute;
		top: 160px;
		label {
			cursor: pointer;
			text-align: center;
			font-weight: normal;
			/*background-color: #32A6D3;
			border: 1px solid #1D85AA;
		  border-radius: 7px;
		  -moz-border-radius: 7px;
		  -webkit-border-radius: 7px;
			color: #FFF;
			cursor: pointer;
			font-size: 20px;
			float: left;
			height: 50px;
			line-height: 50px;
			margin-left: 40%;
			padding: 15px;
			width: 100px !important;
			&:hover {background-color:#37AED6; border-color: #32A6D3};*/

		}
		input {
			visibility: hidden;
			font-size: 10px;
		}
	}	
}

.photo-show-extra-content {
	width: 100%;
	background-color: #F8F8F8;/*#3D3D3D;*/
	height: auto;
	left: 0;
	min-height: 500px;
	position: absolute;
	padding: 10px 0 0 20px;
	z-index: 9999;
	.photo-comments {
		height: auto;
		width: 700px;
		float: left;
		margin-top: 20px;
		h1 {
			color: #999999;/*#fff*/;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
			width: 100%;
		};		
		.form-container {
			/*border: 1px solid #EEE;*/
			width: 100%;
			img.avatar {
				border: 1px solid #131519;
				border-radius: 50%; 
				-moz-border-radius: 50%; 
				-webkit-border-radius: 50%;				
		    float: left;
		    height: 50px;
		    margin: 0px 0 0 7px;
		    width: 50px;
			};
			form {
				float: left;
				margin: 0 0 0 17px;
				width: 80%; 
				.submit-button {
					float: right;
					margin: -10px 8px 0px 0;
				}
			}
		}
	}
	.photo-comments ul {
		/*border-top: 1px solid #eee;*/
		float: left;
		width: 100%;
		margin-top: 20px;
		padding-top: 10px;
		li {
			float: left;
			margin-bottom: 20px;
			width: 100%;
			img.avatar {
				/*border: 1px solid #131519;*/
				border-radius: 50%; 
				-moz-border-radius: 50%; 
				-webkit-border-radius: 50%;				
		    float: left;
		    height: 40px;
		    margin: 0px 0 0 7px;
		    width: 40px;
			};
			.comments-content {
				float: left;
				margin-left: 15px;
		    max-width: 560px;
				h2.user_name {
					color: #32a6d3;
					font-size: 15px;
					text-transform: none;
					float: left;
					margin-bottom: 2px;
					width: 100%;
				};				
				span {
					color: #AEAFB0;
			    font-size: 12px;
			    font-weight: normal;
			    margin: 0 0 0 5px;
				};
				p.content {
					float: left;
					line-height: 20px;
					margin: 2px 0 0;
				}
			}			
		}
	}
	.photo-likers ul {
		float: left;
		margin-top: 20px;
		width: 300px;
		h1 {
			color: #999999;/*#fff*/;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			width: 100%;
		}
		img.avatar {
			border-radius: 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px;				
	    float: left;
	    height: 55px;
	    margin: 0 5px 2px 0;
	    width: 55px;
		};		
	}
}


/*Limit upload photo END*/
.end-limit-upload-photo {
	background-color: #FFF;
	border: 1px solid #ddd;
  border-radius: 5px;
  float: left;
  left: 50%;
  margin-left: -500px;
  padding: 10px;
  position: absolute;
  width: 800px;

	span.ops-face, p {
		float: left;
	}
	p {
		color: #4e5665;
		font-size: 32px;
		margin-top: 10px;
		span.ops-face {
			color: #747272;
			font-size: 86px;
			border-right: 1px solid #d3d0d6;
			height: 100px;
			padding: 0px 10px 0 0;
			margin-right: 20px;
		}
	}
}