ul.photographers {
	li {
		background-color: #FFF;
		border: 1px solid #cecece;
		border-radius: 3px; 
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px;
		float: left;  
		margin: 11px 0 0 15px;
		padding: 12px;
		width: 244px;
		height: 274px;
		&:hover {
			.follow-button {visibility:visible;}
		};
		img {
			float: left;
			height: 220px;
			width: 100%;
		}
		.follow-button, .unfollow-button {
	    float: right;
	    height: 25px;
	    line-height: 25px;
	    margin: 0 0 -50px;
	    position: relative;
	    text-decoration: none;
	    padding-top: 4px;
	    visibility: hidden;
	    text-indent: 23px;
	    line-height: 23px;
		};
		.follow-button {
			background-color: #32a6d3;
	    border-color: #1B8DBA;
    	color: #FFF;
			&::before {
				content:'  ';
				display:block;
				background: url("/assets/user/follow_add.png") no-repeat 0 2px;
				height: 16px;
				width: 16px;
				position: absolute;
			}
		};
		.unfollow-button {
			background-color: #E0180D;
	    border-color: #A00E06;
    	color: #FFF;
			&::before {
				content:'  ';
				display:block;
				background: url("/assets/user/follow_add.png") no-repeat 0 2px;
				height: 16px;
				width: 16px;
				position: absolute;
			}
		};
		.info {
			/*border: 1px solid red;*/
			float: left;
	    height: auto;
	    position: relative;
	    width: 100%;
	    img.avatar {
				border-radius: 50%;
				border: 1px solid #131519;
				float: left;
				height: 80px;
				margin: -40px 0 20px 85px;
				width: 80px;
				/*position: absolute;*/
			};
	    a {
	    	color: #32A6D3;
	    	float: left;
	    	font-size: 18px;
	    	font-weight: normal;
	    	line-height: 26px;
	    	width: 100%;
	    	text-align: left;
	    	text-indent: 5px;
	    	text-decoration: none;
	    	margin-top: 10px;
	    	&:hover {
	    		text-decoration: underline;
	    	};
				img.country {
					height: 24px;
					float: left;
					width: 24px;
				};
	    };
	    p {
	    	color: #aaa;
	    	font-size: 12px;
	    	float: left;
	    	margin-top: 5px;
	    	text-align: left;
	    	width: 100%;
	    	span {
	    		border-right: 1px solid #aaa;
	    		padding-right: 3px;
	    		vertical-align: center;
    		}
	    }
		}
	}		
}

.polaroid-images a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
  position:relative;
}

.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

.polaroid-images img { 
	display: block; 
	width: inherit; 
}

.polaroid-images a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
.polaroid-images a:nth-child(3n) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
}
.polaroid-images a:nth-child(4n)
{
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
}
.polaroid-images a:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
}

.polaroid-images a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}


.photographer-profile-container {
	background-color: blue;
	border: 1px solid #EEE;
	height: 300px;
	left: 0;
	margin: -7px 0 0 -2px;
	position: absolute;
	width: 100%;
	img {
		height: 300px;
		width: 100%;
	}
}	

