h1.preview-title {
	color: #222222;
	float: left;
	font-size: 22px;
	margin: 10px 0 0 30px;
}

.portfolio-preview {
	bottom: 30px;
	position: absolute;
	left: 30px;
	top: 40px;
	right: 30px;
}

.portfolio-buttons-container {
	float: left;
	margin: 2px 0 0 30px;

}