/*Dashboard toolbar*/
ul.toolbar {
 	border-left: 1px solid #0F0F0F;
	list-style: none;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 999;
	li {
		float: left;
		height: 100%;
		padding: 0 5px 0 5px;
		&.logo {
			float: left;
			width: 140px;			
		};
	}
	ul.menu {
		float: left;
		height: 100%;
		list-style: none;
		li {
			padding: 0;
			transition: all 0.4s linear 0s;
			a {
				color: #b9c1c7;
				display: block;
				font-size: 13px;
				float: left;
				font-weight: normal;
				height: 100%;
				line-height: 52px;
				padding: 0 10px 0 10px;
				text-decoration: none;
				text-transform: uppercase;
				span {
			    float: left;
			    margin: 12px 2px 0 0;
				}
			}
			&:hover {
				background-color: #333333;
			}
			&.current {
				background-color: #333333;
				border-bottom: 2px solid #32A6D3;
				a {
					font-weight: bold;
				}
			}
		}
		&.fixed-menu {
			float: left;
			width: 240px;
			border-right: 1px solid #0F0F0F;
			li {
				float: right;
			}
		}
	}
	li.page-title {
		border-right: 0 !important;
		float: left;
		h1 {
			color: #777;
			font-size: 14px;
			font-weight: bold;
			height: 34px;
			line-height: 47px;
			margin-top: 2px;
			text-transform: uppercase;

		}
		h1.title-icon {
			background: url("/assets/user/titles_sprite.png") no-repeat;
			text-indent: 45px;
			&.upload-photo {background-position: 0px 5px;}
			&.profile {background-position: 0px -29px;}
		}
	};

}

ul.toolbar li.user-info {
	border-left: 1px solid #0F0F0F;
	float: right;
	width: 160px;
	a.upload-image {
		color: #b9c1c7;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    height: 100%;
    line-height: 52px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
		span {
	    float: left;
	    height: 32px;
	    margin-top: 12px;
	    width: 32px;
		}
	}
	img.avatar {
		border-radius: 50%;
		cursor: pointer;
		float: right;
		height: 40px;
		margin: 5px 5px 0 0;
		width: 40px;
	}
	ul.user-menu {
		background: #FFF;
		/*border: 1px solid #ddd;*/
		border-radius: 0px 0px 5px 5px; 
		-moz-border-radius: 0px 0px 5px 5px; 
		-webkit-border-radius: 0px 0px 5px 5px;	
		box-shadow:0px 0px 4px #B5B5B5;	
		float: right;
		height: 0;
		padding: 5px 0 0 0;
		position: absolute;
		right: 5px;
		width: 170px;
		top: 56px;
		visibility: hidden;
		opacity: 0.0;
		transition:All 0.4s ease; 
		.up-arrow {
		   width: 0; 
		   height: 0; 
		   border-bottom: 8px solid #FFF; 
		   border-left: 8px solid transparent; 
		   border-right: 8px solid transparent; 
		   position: absolute;
		   right: 20px;
		   margin-top: -13px
		}
		li {
			display: table;
			width: 160px;
			height: 42px;
			&.separator {
				height: 1px;
				background-color: #f1f1f1;
			}
			a {
				color: #4d4d4d;
				display: block;
				line-height: 42px;
				text-decoration: none;
			}
			&:hover {
				background-color: #F1F1F1;
			};
		}
		&.open-menu {
			height: auto;
			opacity: 1;
			visibility: visible;
		}
	}
}