img.user-avatar {
	border: 1px solid #aaa;
	float: left;
	width: 120px;
	height: 140px;
}

.edit-modal-cover-photos {
  float: left;
  margin-top: -20px;
  padding: 0;
  width: 680px;
  .photographers-photo-gallary {
		margin: 0;
		.photo-gallary {
			.photo-explore-container  {
				margin-left: 0;
				width: 100%;
				.img-container {
					height: 150px;
					width: 31%;
				}
			}
		}
  }
}

.profile-avatar {
	float: left;
	margin: 32px 0 0 10px;
	h1 {
		color: #aaaaaa;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	h2 {
		margin-top: 5px;
	}
	p {
		font-size: 13px !important;
		margin: -5px 0 10px 0;
	}
}