.participant-activities {
	.panel .panel-content {
		h4 {
			color: #404040;
			font-size: 16px;
			font-weight: bold;
			line-height: 20px;
		}
		.activity-response	.posted-photo {
			background-position: center center;
	    background-size: cover;
	    float: left;
	    height: 400px;
	    margin: 10px 0 0 5px;
	    width: 570px;
	    transition:All 0.6s ease;
	    &:hover {
	    	opacity: 0.9;
	    	ul.workshop-activities li {
	    		background-color: #000;	
	    	}
	    	.buttons-container {
					visibility: visible;
				}
	    };
		}	
		
		.activity-response .alert {
			float: left;
	    margin: 5px 0 0;
	    width: 535px;
		}
	}
	
	.panel .panel-content .activity-response .posted-photo .buttons-container {
		float: right;
		margin: 5px 5px 0 0;
		visibility: hidden;
		.btn {
			float: left;
			height: 16px;
			padding: 2px 2px 3px 2px;
		}
	}
}

.activity-response-container {
	border: 1px solid #E0E0E0;
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 235px;
  top: 0;
  .photo-picture {
  	background-position: center center;
  	background-size: cover;
		top: 10px;
		bottom: 10px;
		position: absolute;
  	&.landscape {
  		left: 120px;
  		right: 10px;
  	}
  	&.portrait {

  		left: 20%;
  		right: 20%
  	}
  }
  ul.response-photo-list {
  	border: 1px solid #E0E0E0;
  	float: left;
  	margin: 10px;
  	padding: 2px 2px 2px 3px;
  	width: 91px;
  	li {
  		float: left;
  		height: 100px;
  		width: 100%;
  		margin-bottom: 2px;
  	}
  	li .response-photo {
  		background-position: center center;
  		cursor: pointer;
  		float: left;
  		height: 100px;
  		width: 90px;
  		transition:All 0.6s ease;
  		&:hover {
  			opacity: 0.8;
  		};
  		a {
  			float: left;
  			height: 100%;
  			width: 100%;
  		}
  	}
  }
}

.response-photo-details {
  float: right;
  height: 100%;
  width: 220px;

}

/*.response-photo-details .rating {
	float: left;
	width: 210px;
	label.section-label {
		float: left;
		font-size: 18px;
		margin-bottom: 5px;
		width: 100%;
	}	
	ul {
		float: left;
		li {
			margin-bottom: 2px;
			.score-bar {
				border: 1px solid #e0e0e0;
				height: 18px;
				width: 200px;
				.score {
					height: 100%;
					&.poor {background-color: #EA8A75;width: 20%;}
					&.so-so {background-color: #49BC51;width: 40%;}
					&.good {background-color: #E5C92B;width: 60%;}
					&.so-good {background-color:#45CCBE;width: 80%;}
					&.excelent {background-color: #369EF9;width: 100%;}
				}
			}
			.score-bar .score {
				label {
			    float: left;
			    font-size: 11px;
					font-weight: bold;
			    height: 100%;
			    line-height: 18px;
			    padding-left: 4px;
				}
			}
		 .score-bar	span.score-value {
			  font-size: 12px;
		    font-weight: bold;
		    margin: -15px 25px 0 0;
		    position: absolute;
		    right: 0;
			}
		}
	}
}
*/
.response-photo-details .content-info {
	float: left;
	&.photo-info {
		margin-top: 10px;
		width: 93%;
		label.section-label {
			float: left;
			font-size: 18px;
			margin-bottom: 10px;
		}
		ul {
			float: left;
			width: 100%;
			li {
				float: left;
				width: 100%;
			}
		}
		p {
			border-bottom: 1px solid #CECECE;
			float: left;
			font-size: 12px;
			margin-bottom: 5px;
			padding-bottom: 5px;
			width: 96%;
			strong {
				float: left;
				font-weight: bold;
				margin-bottom: 4px;
				width: 100%;
			}
		}
	}
}

/*.ui-slider  {
	background: none repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 0;
  margin: 2px;
  position: absolute;
  width: 194px;
	.ui-slider-handle {
		border: 1px solid #777;
		background-color: #444;
		cursor: pointer;
		margin:2px 0 0 -1px;
		opacity: 0.3
	}
}*/