ul.workshops-items {
	right: 0;
	left: 0;
	padding: 10px;
	width: 1024px;
	li {
		background-color: #FFF;
		border: 1px solid #ddd;
		border-radius: 5px; 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 		
		float: left;
		margin: 0 10px 10px 0;
		padding: 10px;
		height: 200px;
		width: 100%;
		min-width: 500px;
		.ws-image {
			background-size: cover;
			background-position: center center;
			float: left;
			width: 250px;
			height: 100%;
		}
		.ws-details {
			float: left;
			height: 100%;
			margin: 0 0 0 10px; 
			width: 760px;
			a {
				color: #333;
				font-size: 21px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				};
			}
			h1 {
				font-size: 18px;
			}
			p {
				color: #777777;
				float: left;
				line-height: 20px;
				margin: 10px 0 40px 0;
				min-height: 38px;
				word-spacing: normal;
			}
			.workshop-resume {
				float: left;
				/*position: absolute;*/
				margin: 5px 0 0 0;
				span {
					color: #777777;
					float: left;
					font-size: 12px;
					margin: 0 10px 7px 0;
					text-indent: 20px;
					&.period {background: url("/assets/user/view_16.gif") 0 -3px no-repeat;}
					&.vacancies {background: url("/assets/user/view_16.gif") 0 -3px no-repeat;}
					&.value {background: url("/assets/user/view_16.gif") 0 -3px no-repeat;}
				}
			}
		}
	}
}

ul.workshop-participants, ul.workshop-materials {
	float: left;
	width: 100%;
	li {
		border-bottom: 1px dotted #E8E8E8;
		float: left;
		margin-bottom: 5px;
		padding: 5px;
		width: 97%;
		.user-avatar {
			border: 0px;
			float: left;
			height: 32px;
			width: 32px;
		};
		label.user-name {
			color: #888;
			float: left;
			font-size: 14px;
			font-weight: bold;
			margin: 0px 0 0 10px !important;
			line-height: 30px;
		}
		.buttons-container-participants {
			margin-top: 7px !important;
		}
		&:hover {background-color: #eee;};
	}
}

ul.workshop-participants, ul.workshop-materials {
	li {
		&:hover .buttons-container {
			visibility:visible;
		};
		img {
			float: left;
			margin-top: 3px;
		};
		a {
			color: #777;
			display: block;
			float: left;
			margin: 4px 0 0 5px;
			text-decoration: none;
			width: 70%;
			&:hover {
				text-decoration: underline;
			};			
		};
		.buttons-container {
			left: 85%;
			margin-top: 2px;
			position: absolute;
			visibility: hidden;
			a {
				float: left;
				font-size: 11px;
				width: auto !important;
				&:hover {
					text-decoration: underline;
				};
			}
			span.separator {
				background-color: #cecece;
				height: 16px;
				float: left;
				margin: 0 0 0 4px;
				width: 1px;
			}
		}
	}
}