ul.workshops-items {
	right: 0;
	left: 0;
	padding: 10px;
	width: 1024px;
	li {
		background-color: #FFF;
		border: 1px solid #ddd;
		border-radius: 5px; 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 		
		float: left;
		margin: 0 10px 10px 0;
		padding: 10px;
		height: 200px;
		width: 100%;
		min-width: 500px;
		.ws-image {
			background-size: cover;
			background-position: center center;
			float: left;
			width: 250px;
			height: 100%;
		}
		.ws-details {
			float: left;
			height: 100%;
			margin: 0 0 0 10px; 
			width: 760px;
			a {
				color: #333;
				font-size: 21px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				};
			}
			.texts {
		    float: left;
		    height: 170px;
		    width: 100%;
				h1 {
					font-size: 18px;
				}
				p {
					color: #777777;
					float: left;
					line-height: 20px;
					margin: 10px 0 40px 0;
					min-height: 38px;
					word-spacing: normal;
				}
			}
			.workshop-resume {
				float: left;
				margin: 0 0 0 0;
				.resume-item {
					border-right: 1px solid #eee; 
					float: left;
					padding: 0 5px 0 0;
					margin: 0  5px 0 0;
					width: auto;
					&:last-child {
						border:0;
					};
					h4 {
						color: #777;
						font-size: 10px;
						float: left;
						text-align: left;
						text-transform: uppercase;
						width: 100%;
					}
					span {
						color: #333;
						font-size: 12px;
						float: left;
						text-align: left;
						margin-top: 5px;
						width: 100%;
					}
				}
			}
		}
	}
	li .ribbon-wrapper {
	  width: 85px;
	  height: 88px;
	  overflow: hidden;
	  position: absolute;
	  margin: -13px 0 0 950px;
  }
}

ul.workshop-participants, 
ul.workshop-materials,
ul.workshop-activities {
	float: left;
	width: 100%;
	li {
		border-bottom: 1px dotted #E8E8E8;
		float: left;
		margin-bottom: 5px;
		padding: 5px;
		width: 97%;
		.user-avatar {
			border-radius: 50%; 
			-moz-border-radius: 50%; 
			-webkit-border-radius: 50%; 
			border: 0px;
			float: left;
			height: 42px;
			width: 42px;
		};
		a.user-name {
			color: #888;
			float: left;
			font-size: 14px;
			font-weight: bold;
			margin: 1px 0 0 7px !important;
			line-height: 20px;
		}
		.buttons-container-participants {
			margin-top: -3px !important;
		}
		&:hover {background-color: #eee;};
		a.btn {
			/*color: #FFF;*/
			margin: 25px 0 0 50px;
    	position: absolute;
    	width: auto;
    	&:hover {
    		text-decoration: none;
    	};
		}
	}
}

ul.workshop-participants, 
ul.workshop-materials,
ul.workshop-activities {
	li {
		&:hover .buttons-container {
			visibility:visible;
		};
		img {
			float: left;
			margin-top: 3px;
		};
		a {
			color: #777;
			display: block;
			float: left;
			line-height: 18px;
			margin: 5px 0 0 5px;
			text-decoration: none;
			width: 70%;
			&:hover {
				text-decoration: underline;
			};		
			span.record-created-at {
				float: left;
				font-size: 10px;
				font-style: italic;
				position: relative;
				width: 100%;
			}	
		};
		.buttons-container {
			float: right;
    	margin-top: 0px;
			visibility: hidden;
			a {
				border-right: 1px solid  #cecece; 
				float: left;
				font-size: 12px;
				width: auto !important;
				padding-right: 5px;
				&:last-child {
					border-right:0;
				};
				&:hover {
					text-decoration: underline;
				};
			}
		}
	}
}

ul.workshop-materials,
ul.workshop-activities {
	li {
		.progress-container {
			background-color: #D6DADC;
			border-radius: 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px;
			float: left;
			margin: 3px 0 0 5px;
			width: 100%;
			height: 12px;
			span {
				color: #3f3f3f;
		    float: left;
		    font-size: 10px;
		    height: 10px;
		    margin-top: 1px;
		    text-align: center;
		    width: 100%;
			}
			.progress-evolution {
				background-color: #5BA4CF;
				border-radius: 5px; 
				-moz-border-radius: 5px; 
				-webkit-border-radius: 5px;
				height: 100%;
				width: 100%
			}
		}	
	}
}

ul.workshop-materials.participants-view {
	li {
		a {
			width: 90%;
		}
	}
}

.ws-preview {
	height: 600px;
	width: 960px;
	.ws-cover {
		background-size: cover;
		background-position: center center;
		border: 1px solid #cecece;
		float: left;	
		height: 200px;
		width: 300px;
	}

	.ws-workshop-title {
		float: left;
		margin-left: 10px;
		width: 600px;
		h1 {
			font-size: 22px;
			margin-bottom: 7px;
		}
		p {
			a {
				color: #32a6d3;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				};
			}
			span {
				color: #777;
			}
		}
		.buttons-container {
			margin-top: 120px;
			position: absolute;
			.alert {
				margin: -98px 0 20px 0;
				width: 280px;
			}	
		}
		.social-network-share {
	    height: 55px;
	    margin-left: 450px;
	    margin-top: 100px;
	    position: absolute;
	    width: 100px;
	    span.share-label {
	    	color: #333;
		    float: left;
		    text-align: left;
		    width: 100%;
		    margin-bottom: 5px;
		    &:after {
		    	content: ":";
		    };
	    }
	    span.social-network-icon {
	    	float: left;
	    }
		}
	}

	.ws-details-textbox {
		float: left;
/*		border: 1px solid red;*/
		width: 100%;
		margin-top: 20px;
		h1 {
			color: #777;
			font-size: 22px;
			border-bottom: 1px solid #cecece;
			margin:30px 0 10px 0;
			padding: 0 0 5px 0;

		}
		p.ws-details {
			/*color: #777;*/
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 30px;
			text-align: justify;
		}

		p.colon {
			/*color: #777;*/
			float: left;
			height: 20px;
			margin-bottom: 5px;
			width: 100%;
			&:before {
				content: ":";
			};
			strong {
				/*color: #444;*/
				background-image: url(asset-path("user/list-add.png"));
				background-repeat: no-repeat;
				font-size: 14px;
				font-weight: bold;
				float: left;
				line-height: 18px;
				text-indent: 16px;

				width: 120px;
			}
			span {
				line-height: 18px;
				margin-left: 10px;
			}
		}
		.complement-info {
			float: left;
			margin-top: 20px;
			width: 100%;
		}
	}
	.ws-complement-info {

	}
}
.workshop-image {
	float: left;
	margin: 34px 0 0 10px;
	h1 {
		color: #aaaaaa;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	h2 {
		margin-top: 5px;
	}
	p {
		font-size: 13px !important;
		margin: -5px 0 10px 0;
	}
}