
ul.workshop-user-students {
	float: left;
	margin-top: 15px;
	width: 100%;
	li {
		border-bottom: 1px dotted #e8e8e8;
		float: left;
		padding: 5px;
		width: 99%;
		&:hover {
			background-color: #eee
		};
		&:hover .buttons {visibility: visible;};
		img.user-avatar {
			float: left;
			height: 45px; 
			width: 45px;
			max-height: 45px; 
			max-width: 45px;
		};
		.details {
			float: left;
			height: 100%;
			margin-left: 10px;
			label.user-name {
				color: #777;
				font-size: 15px;
				font-weight: bold;
				float: left;
				width: 80%
			};
			p {
				color: #777;
				font-size: 12px;
				float: left;
				margin-top: 3px;
				width: 100%;
			}
		}
		.buttons {
	    height: 50px;
	    position: absolute;
	    right: 20px;
	    visibility: hidden;
	    width: auto;
		}
	}
}

.seach-form {
	float: left;
	margin: -20px 0 0 0 ;
	width: 100%;
	input {
		border: 0px;
		border-bottom: 1px solid #ada9a5 !important;
    border-radius: 5px;
    font-size: 16px;
    height: 35px;
    padding: 1px 2px 2px 1px;
    width: 100%;
	}
}


.show-workshop-student {
	left: 50%;
  margin-left: -512px;
  position: absolute;
  width: 1024px;
	.ws-left-col, .ws-right-col {
		float: left;
		.panel {
			margin: 0 0 10px 0;
		}
	}
	.ws-left-col {
		width: 650px;
		margin-right: 10px;
		.ws-image {
			background-size: cover;
			background-position: center center;
			float: left;
			height: 100px;
			width: 160px;
		}
		p.workshop-description {
			float: left;
			font-size: 20px;
	    font-weight: bold;
	    line-height: 20px;
	    margin: -2px 0 0 5px;
	    text-align: left;
	    width: 330px;
		}	
		.show-fields {
			margin-top: 20px;
			p {
				font-size: 14px;
				height: 22px;
				strong {
					font-weight: bold;
				}
			}
		}
		/*.ws-complement {
			float: left;
			width: 100%;
		}*/
	}
	.ws-right-col {
		width: 360px;
	}
	.author-container {
		img.avatar {
			float: left;
			height: 90px;

			margin: 5px 8px 0 0;
			width: 90px;
		}
		p {
			font-size: 12px;
			line-height: 20px;
			margin: 0 10px 0 0;
		}
	}
}