.participant-activities {
	.panel .panel-content {
		h4 {
			color: #404040;
			font-size: 16px;
			font-weight: bold;
			line-height: 20px;
		}
		.activity-response	.posted-photo {
			background-position: center center;
	    background-size: cover;
	    float: left;
	    height: 400px;
	    margin: 10px 0 0 5px;
	    width: 570px;
	    transition:All 0.6s ease;
	    &:hover {
	    	opacity: 0.9;
	    	ul.workshop-activities li {
	    		background-color: #000;	
	    	}
	    	.buttons-container {
					visibility: visible;
				}
	    };
		}	
		
		.activity-response .alert {
			float: left;
	    margin: 5px 0 0;
	    width: 535px;
		}
	}
	
	.panel .panel-content .activity-response .posted-photo .buttons-container {
		float: right;
		margin: 5px 5px 0 0;
		visibility: hidden;
		.btn {
			float: left;
			height: 16px;
			padding: 2px 2px 3px 2px;
		}
	}
}

.activity-image-preview-container {
	border: 1px solid #E0E0E0;
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 270px;
  top: 0;
  .photo-picture {
  	background-position: center center;
  	background-size: cover;
		top: 10px;
		bottom: 10px;
		position: absolute;
  	&.landscape {
  		left: 10px;
  		right: 10px;
  	}
  	&.portrait {

  		left: 20%;
  		right: 20%
  	}
  }
}

.activity-photo-details {
  float: right;
  height: 100%;
  width: 260px;

}

.activity-photo-details .rating {
	float: left;
	width: 250px;
	ul {
		li {
			margin-bottom: 2px;
			.score-bar {
				border: 1px solid #777;
				height: 24px;
				width: 240px;
				.score {
					height: 100%;
					&.poor {background-color: #EA8A75;width: 20%;}
					&.so-so {background-color: #49BC51;width: 40%;}
					&.good {background-color: #E5C92B;width: 60%;}
					&.so-good {background-color:#45CCBE;width: 80%;}
					&.excelent {background-color: #369EF9;width: 100%;}
				}
			}
			.score-bar .score {
				label {
			    float: left;
					font-weight: bold;
			    height: 100%;
			    line-height: 22px;
				}
			}
		 .score-bar	span.score-value {
			  float: right;
			  font-weight: bold;
			  height: 100%;
			  line-height: 25px;
			  margin: -25px 7px 0 0;
			}
		}
	}
	
}