<%= content_tag :ul, class:'menu fixed-menu' do %>
	<li class="app-logo">
		<%= image_tag "shared/logo_black.png" %>
	</li>	
	<li>
		<%= link_to user_home_index_path, class:"home-menu" do %>
			Home
			<span class="icon20 home"></span>
		<% end %>
	</li>
	<%= yield :menu_itens %>
<% end %>