<%= content_tag :ul, class:'menu fixed-menu' do %>
	<li>
		<%= link_to user_home_index_path, class:"home-menu" do %>
			HOME
			<span class="icon20 home"></span>
		<% end %>
	</li>
	<li>
		<%= link_to new_user_photo_path, class:"home-menu" do %>
			<span class="icon20 upload"></span>
		<% end %>
	</li>
<% end %>